<h2 mat-dialog-title>Modifica consegna</h2>

<mat-dialog-content>

  <form [formGroup]="form" class="step-form-row">
    <mat-form-field appearance="outline">

      <mat-label>Data consegna</mat-label>

      <input
        matInput
        [matDatepicker]="picker"
        formControlName="dataConsegna">

      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker">
      </mat-datepicker-toggle>

      <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>

    <mat-form-field appearance="outline">

      <mat-label>Fascia</mat-label>

      <mat-select formControlName="oraConsegna">

        <mat-option value="M">Mattina</mat-option>
        <mat-option value="P">Pomeriggio</mat-option>

      </mat-select>

    </mat-form-field>


    <mat-form-field appearance="outline">

      <mat-label>Veicolo</mat-label>

      <mat-select formControlName="veicolo">

        <mat-option
          *ngFor="let v of veicoli"
          [value]="v.id">

          {{ v.descrizione }}

        </mat-option>

      </mat-select>

    </mat-form-field>

  </form>

</mat-dialog-content>


<mat-dialog-actions align="end">

  <button mat-button (click)="chiudi()">
    Annulla
  </button>

  <button
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    (click)="conferma()">
    Salva
  </button>

</mat-dialog-actions>
