<form (ngSubmit)="submitForm()" [formGroup]="userForm" autocomplete="off">

  <div class="page-container">

    <!-- HEADER -->
    <div class="page-header">
      <h2>
        {{ id ? 'Modifica dipendente' : 'Crea dipendente' }}
      </h2>
    </div>

    <!-- FORM SEZIONE DATI PERSONALI -->
    <div class="form-section">
      <div class="form-row">

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="mrossi">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" placeholder="Mario">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Cognome</mat-label>
          <input matInput formControlName="lastname" placeholder="Rossi">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="mario.rossi@mail.it">
        </mat-form-field>

      </div>
      <div class="form-row">


        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="(lascia vuoto per non modificare)">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Data di nascita</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataNascita">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Codice venditore</mat-label>
          <input matInput formControlName="codVenditore" placeholder="123ABC">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Ruoli</mat-label>

          <mat-select formControlName="roles" multiple>
            <mat-option *ngFor="let role of optionRoles" [value]="role">
              {{ role.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </div>



    <!-- FOOTER BUTTONS -->
    <div class="footer-buttons">
      <button mat-stroked-button type="button" (click)="indietro()">Annulla</button>

      <button mat-raised-button color="primary" type="submit">
        Salva
      </button>
    </div>

  </div>
</form>
