<!-- NO ACCESS -->
<div class="no-access" *ngIf="!canManage">
  <mat-icon>block</mat-icon>
  <p>Non hai i permessi per gestire i dipendenti.</p>
</div>

<!-- FORM -->
<form *ngIf="canManage"
      (ngSubmit)="submitForm()"
      [formGroup]="userForm"
      autocomplete="off">

  <div class="container">

    <h3 class="title">
      <span *ngIf="id">Modifica</span>
      <span *ngIf="!id">Crea</span>
      dipendente
    </h3>

    <!-- LOADER -->
    <mat-spinner *ngIf="loader" class="loader"></mat-spinner>

    <div class="row" *ngIf="!loader">

      <!-- Nome -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>

      <!-- Cognome -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Cognome</mat-label>
          <input matInput formControlName="lastname" />
        </mat-form-field>
      </div>

      <!-- Email -->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </div>
    </div>

    <div class="row" *ngIf="!loader">

      <!-- Password -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field>
      </div>

      <!-- Data -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Data di nascita</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataNascita">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Codice venditore -->
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Codice venditore</mat-label>
          <input matInput formControlName="codVenditore" />
        </mat-form-field>
      </div>
    </div>

    <!-- RUOLI -->
    <div class="row" *ngIf="!loader">
      <h4>Ruoli</h4>

      <div formArrayName="roles">
        <div *ngFor="let role of optionRoles">
          <mat-checkbox
            color="primary"
            [checked]="role.checked"
            (change)="onCheckboxChange(role, $event)">
            {{ role.name }}
          </mat-checkbox>
        </div>
      </div>
    </div>

    <!-- BOTTONI -->
    <div class="float-end" *ngIf="!loader">
      <button mat-raised-button type="button" (click)="indietro()">
        Annulla
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button color="primary" type="submit">
        Salva
      </button>
    </div>

  </div>
</form>
