tr.example-detail-row {
  height: 0;
}

.example-detail-row td {
  border-top-width: 0;
  background-color: #b0cca2;
  color: #050505;
}

.container-importo {
  display: flex;
  justify-content: space-between;
}

.box-importo{
  padding:3px;
  margin:5px;
}
