<div class="row" style="font-size: 12px; height: 100%">
  <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="mostraSituazioneCliente">
    <mat-label> <h2>  Situazione Cliente</h2></mat-label>
    <table class="table table-fido">
        <tbody>
        <tr>
          <td>Ordini aperti</td>
          <td class="text-end">
            <mat-spinner *ngIf="loaderOrdiniAperti" class="loader loader-fido"></mat-spinner>
            <span *ngIf="!loaderOrdiniAperti">{{ordiniAperti | currency: 'EUR':'symbol'}}</span>
          </td>
        </tr>
        <tr>
          <td>Bolle NON fatturate</td>
          <td class="text-end">
            <mat-spinner *ngIf="loaderBolleNonFatturate" class="loader loader-fido"></mat-spinner>
            <span *ngIf="!loaderBolleNonFatturate">{{bolleNonFatturate | currency: 'EUR':'symbol'}}</span>
          </td>
        </tr>
        <tr>
          <td>Saldo contabile</td>
          <td class="text-end">
            <mat-spinner *ngIf="loaderSaldoContabile" class="loader loader-fido"></mat-spinner>
            <span *ngIf="!loaderOrdiniAperti">{{saldoContabile | currency: 'EUR':'symbol'}}</span>
          </td>
        </tr>
        <tr>
          <td>Acconti fatturati</td>
          <td class="text-end">
            <mat-spinner *ngIf="loaderAccontiFatturati" class="loader loader-fido"></mat-spinner>
            <span *ngIf="!loaderAccontiFatturati">{{accontiFatturati | currency: 'EUR':'symbol'}}</span>
          </td>
        </tr>
        <tr>
          <td>Fido residuo</td>
          <td class="text-end">
            <span [ngClass]="{'negativo': ((-ordiniAperti -bolleNonFatturate - saldoContabile + accontiFatturati) < 0),
             'positivo': ((-ordiniAperti -bolleNonFatturate - saldoContabile + accontiFatturati) > 0)}">
              {{(-ordiniAperti  -bolleNonFatturate - saldoContabile + accontiFatturati) | currency: 'EUR':'symbol'}}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <section class="acconti-container mat-elevation-z8 scrollable" tabindex="0" >
      <mat-spinner *ngIf="loaderAcconti" class="loader"></mat-spinner>
      <table class="table table-container" *ngIf="!loaderAcconti">
        <thead>
          <tr>
            <th>Rif. Ord. Cliente</th>
            <th>Data Fattura</th>
            <th>Movimento</th>
            <th>Importo</th>
            <th>Iva</th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let fattura of acconti">
          <tr class="acconto-row" [class.has-storni]="(fattura.storni.length || 0) > 0">
            <td class="connector-cell">{{ fattura.rifOrdCliente }}</td>
            <td>{{ fattura.dataFattura | date:'dd/MM/yyyy' }}</td>
            <td>{{ fattura.operazione }} {{ fattura.numeroFattura }}</td>
            <td>{{ fattura.prezzo | currency: 'EUR':'symbol' }}</td>
            <td>{{ fattura.iva }}<span *ngIf="fattura.iva">%</span></td>
          </tr>

          <!-- Righe degli storni -->
          <tr class="storno-row" *ngFor="let storno of fattura.storni; let last = last">
            <td class="connector-cell storno-cell" [class.last]="last">
              <span class="connector-horizontal"></span>
            </td>
            <td>{{ storno.dataFattura  | date:'dd/MM/yyyy'}}</td>
            <td>{{ storno.operazione }}</td>
            <td>{{ storno.prezzo | currency: 'EUR':'symbol' }}</td>
            <td>{{ storno.iva }}<span *ngIf="storno.iva">%</span></td>
          </tr>
          <tr *ngIf="(fattura.storni?.length || 0) > 0" class="importo-residuo-row">
            <td colspan="2"></td>
            <td class="residuo-td">Importo residuo</td>
            <td colspan="2">
              {{fattura.importoResiduo | currency: 'EUR':'symbol' }}
              <span *ngIf="fattura.importoResiduo < 0" style="color:red"><mat-icon>warning_amber</mat-icon></span>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
      <div *ngIf="!acconti || acconti.length === 0">Nessun acconto trovato per questo cliente</div>
    </section>
  </div>
</div>
