.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.actions-before-table {
  text-align: right;
}

.search-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.w-50 {
  width: 50%;
}

.warn {
  color: red;
}

.loader {
  margin: 20px auto;
}
