<div class="container" *ngIf="isAdmin">
  <div class="row">
    <div class="col-md-12  ordine-title">
      Ruoli
    </div>
  </div>
  <div class="float-end">
    <button mat-raised-button color="primary" (click)="creaNuovo()">Crea nuovo</button>
  </div>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <mat-form-field>
        <mat-label>Cerca...</mat-label>
        <input matInput (keyup)="applyFilter()" [(ngModel)]="filtro.searchText">
      </mat-form-field>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
      <button mat-raised-button color="warn" (click)="filtro.searchText = ''; applyFilter()">
        Reset
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="mat-elevation-z8">
        <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
        <table class="table-container" *ngIf="!loader" mat-table [dataSource]="dataSource">

          <!-- Name Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome</th>
            <td mat-cell *matCellDef="let ruolo">
              <div *ngIf="!ruolo.edit">{{ruolo.name}}</div>
              <div *ngIf="ruolo.edit"><input type="text" class="form-control" [(ngModel)]="ruolo.name"></div>
            </td>
          </ng-container>
          <ng-container matColumnDef="azioni">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let ruolo">

              <button
                mat-icon-button
                matTooltip="Gestisci permessi"
                (click)="gestisciPermessi(ruolo)"
              >
                <mat-icon fontIcon="admin_panel_settings" color="primary"></mat-icon>
              </button>

              <button *ngIf="!ruolo.edit" (click)="ruolo.edit = true" mat-icon-button matTooltip="Modifica" >
                <mat-icon fontIcon="edit" color="primary"></mat-icon>
              </button>

              <button *ngIf="ruolo.edit" (click)="salva(ruolo)" mat-icon-button matTooltip="Salva" >
                <mat-icon fontIcon="save" color="primary"></mat-icon>
              </button>

              <button (click)="elimina(ruolo.id)" mat-icon-button matTooltip="Elimina">
                <mat-icon fontIcon="delete" color="primary"></mat-icon>
              </button>

              <button *ngIf="ruolo.edit" (click)="ruolo.edit = false; retrieveList()" mat-icon-button matTooltip="Chiudi">
                <mat-icon fontIcon="close" class="warn"></mat-icon>
              </button>

            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-result-list" colspan="4">Nessun risultato {{filtro.searchText ? "per la ricerca " + filtro.searchText : ""}}</td>
          </tr>
        </table>
        <mat-paginator aria-label="Select page of ordini clienti"></mat-paginator>
      </div>
    </div>
  </div>
</div>



