.box {
  margin:5px;
  padding:10px;
}

.example-margin {
  margin: 8px;
}

.example-width {
  max-width: 180px;
  width: 100%;
}

.mat-mdc-slider {
  max-width: 300px;
  width: 100%;
}

.input {
  width: 100px;
}




