<h2 mat-dialog-title>Programma consegna</h2>

<mat-dialog-content>

  <form [formGroup]="form" class="step-form-row">
    <mat-form-field appearance="outline">
      <mat-label>Fascia</mat-label>
      <mat-select formControlName="oraConsegna">
        <mat-option value="M">Mattina</mat-option>
        <mat-option value="P">Pomeriggio</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Veicolo</mat-label>
      <mat-select formControlName="veicolo">
        <mat-option *ngFor="let v of veicoli" [value]="v.id">
          {{v.descrizione}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
  <div
    class="giorno-selezionato"
    *ngIf="giornoSelezionatoLabel"
    [ngClass]="fasciaClasse">

    Consegna programmata per
    <strong>{{ giornoSelezionatoLabel }}</strong>

  </div>
  <!-- PLANNER SEMPRE VISIBILE -->
  <app-consegne-settimanali
    [compactMode]="true"
    [selectable]="true"
    [veicolo]="form.value.veicolo"
    [fascia]="form.value.oraConsegna"
    (giornoSelezionato)="giornoSelezionato($event)">
  </app-consegne-settimanali>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-button (click)="chiudi()">Annulla</button>

  <button
    mat-raised-button
    color="primary"
    [disabled]="form.invalid || !giornoSelezionatoData"
    (click)="conferma()">

    Salva

  </button>

</mat-dialog-actions>
