<div class="container">
  <div class="row">
    <div class="col-md-12  ordine-title">
      ORDINI
      <span *ngIf="filtro.status==='DA_PROCESSARE'"> DA PROCESSARE</span>
      <span *ngIf="filtro.status==='DA_ORDINARE'"> DA ORDINARE</span>
      <span *ngIf="filtro.status==='INCOMPLETO'"> INCOMPLETI</span>
      <span *ngIf="filtro.status==='COMPLETO'"> COMPLETI</span>
      <span *ngIf="filtro.status==='ARCHIVIATO'"> ARCHIVIATI</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <mat-form-field>
        <mat-label>Cerca...</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <button class="float-end" (click)="refreshPage()" mat-raised-button color="primary" aria-label="ordine">
        Aggiorna lista
      </button>
    </div>
    <div *ngIf="isVenditore || isAdmin" class="col-lg-12 col-md-12 col-sm-12">
      <mat-radio-group (change)="retrieveList()"
                       aria-label="Select an option" [(ngModel)]="filtro.codVenditore">
        <mat-radio-button *ngFor="let option of radioPerVenditoreOptions" [checked]="option.checked"
                          [value]="option.codVenditore">{{option.fullname}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <mat-radio-group (change)="retrieveList()"
                       aria-label="Select an option" [(ngModel)]="filtro.status">
        <mat-radio-button *ngFor="let option of radioPerStatusOptions" [checked]="option.checked"
                          [value]="option.codice">
          <span *ngIf="option.descrizione==='DA_PROCESSARE'"> DA PROCESSARE</span>
          <span *ngIf="option.descrizione==='DA_ORDINARE'"> DA ORDINARE</span>
          <span *ngIf="option.descrizione==='INCOMPLETO'"> INCOMPLETI</span>
          <span *ngIf="option.descrizione==='COMPLETO'"> COMPLETI</span>
          <span *ngIf="option.descrizione==='ARCHIVIATO'"> ARCHIVIATI</span>
          <span *ngIf="option.descrizione==='TUTTI'"> TUTTI</span>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="mat-elevation-z8">
        <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
        <table class="table-container" *ngIf="!loader" mat-table [dataSource]="dataSource">

          <!-- Name Column -->
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Numero Ordine</th>
            <td mat-cell *matCellDef="let ordine">
              {{ordine.anno}}/{{ordine.serie}}/{{ordine.progressivo}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente</th>
            <td mat-cell *matCellDef="let ordine">
              {{ordine.intestazione}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data</th>
            <td mat-cell *matCellDef="let ordine">
              {{ordine.dataOrdine | date:'dd/MM/yyyy'}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Stato Ord</th>
            <td mat-cell *matCellDef="let ordine">
              <b>{{ordine.status}}</b>
            </td>
          </ng-container>
          <ng-container matColumnDef="azioni">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let ordine">
              <button (click)="sbloccaOrdine(ordine)" mat-icon-button matTooltip="Sblocca ordine" *ngIf="isAdmin">
                <mat-icon aria-hidden="false" aria-label="dettaglio" fontIcon="lock_open" color="primary"></mat-icon>
              </button>
              <button class="no-pointer" mat-icon-button [matTooltip]="'Ordine in carico a ' + ordine.userLock" *ngIf="ordine.isLocked">
                <mat-icon aria-hidden="false" aria-label="dettaglio" fontIcon="lock" color="primary"></mat-icon>
              </button>
              <button *ngIf="ordine.isLocked || (isVenditore && !isAdmin)" (click)="vediDettaglio(ordine)" mat-icon-button matTooltip="Vai a dettaglio ordine">
                <mat-icon aria-hidden="false" aria-label="dettaglio" fontIcon="visibility" color="primary"></mat-icon>
              </button>
              <button *ngIf="!ordine.isLocked && (!isVenditore || (isVenditore && isAdmin))" (click)="editDettaglio(ordine)" mat-icon-button matTooltip="Vai a dettaglio ordine">
                <mat-icon  aria-hidden="false" aria-label="dettaglio" fontIcon="build" color="primary"></mat-icon>
              </button>
              <button (click)="aggiungiNote(ordine)" mat-icon-button matTooltip="Aggiungi note">
                <mat-icon aria-hidden="false" aria-label="firma" fontIcon="speaker_notes" color="primary"></mat-icon>
              </button>
              <button *ngIf="!ordine.hasFirma && (isVenditore || isAdmin)" (click)="apriFirma(ordine)" mat-icon-button matTooltip="Firma ordine cliente">
                <mat-icon aria-hidden="false" aria-label="firma" fontIcon="draw" color="primary"></mat-icon>
              </button>
              <button *ngIf="(isVenditore || isAdmin) && ordine.hasFirma" (click)="inviaEmail(ordine)" mat-icon-button
                      matTooltip="Invia email ordine cliente">
                <mat-icon aria-hidden="false" aria-label="firma" fontIcon="send" color="primary"></mat-icon>
              </button>
              <button *ngIf="isMagazziniere && filtro.status === 'DA_ORDINARE'" (click)="apri(ordine)" mat-icon-button
                      matTooltip="Apri ordine">
                <mat-icon aria-hidden="false" aria-label="firma" fontIcon="restore" color="primary"></mat-icon>
              </button>
              <button class="no-pointer" mat-icon-button matTooltip="Sono presenti articoli consegnati senza bolla" *ngIf="ordine.warnNoBolla">
                <mat-icon class="warnNoBolla" aria-hidden="false" aria-label="warning" fontIcon="report" color="warn"></mat-icon>
              </button>
              <button class="no-pointer" mat-icon-button matTooltip="Ordine non firmato dal cliente" *ngIf="(filtro.status === 'COMPLETO') && !ordine.hasFirma">
                <mat-icon class="warnNoBolla warnNoFirma" aria-hidden="false" aria-label="warning" fontIcon="report"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-result-list" colspan="4">Nessun risultato {{input.value ? "per la ricerca " + input.value : ""}}</td>
          </tr>
        </table>

        <mat-paginator aria-label="Select page of ordini clienti"></mat-paginator>
      </div>
    </div>
  </div>
</div>


