.input {
  display: inline;
  height: fit-content;
}

.mat-column-nome{
  padding-left: 16px;
}

.mat-column-status{
  font-size: 13px;
}

.stato {
  width: 200px;
}

.select {
  width:100px;
}

.option {
  font-size: 0.65em;
}

.mat-column-azioni {
  text-align: right;
  font-weight: bold;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

.warnNoBolla {
  font-size: 40px;
  top: -9px;
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.warnNoFirma {
  color: #fab928;
}

.nota-presente {
  color:#d11f0c!important;
}

.nota-logistica-presente {
  color: #25be32 !important;
}

.mat-mdc-icon-button[disabled] {
  pointer-events: auto!important;
}

.hasCarico {
  padding: 5px;
  background-color: #fbf403;
}

.blink_text
{
  animation:2s blinker linear infinite;
  -webkit-animation:2s blinker linear infinite;
  -moz-animation:2s blinker linear infinite;
  color: red;
  text-align: center;
}

@-moz-keyframes blinker
{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker
{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker
{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
