.totale {
  font-weight: bold;
  font-size: 18px;
  margin: 20px 20px 0 0;
}

.mat-column-prezzo {
  min-width: 100px;
  font-size:1rem;
}

.mat-column-quantita {
  min-width: 100px;
  font-size:1rem;
}

.mat-column-descrizione {
  min-width: 100px;
  font-size:1rem;
}

.input {
  display: inline;
  height: fit-content;
  font-size: 1rem;
  width: 70px;
}
