<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <button mat-raised-button (click)="annulla()" color="primary" matTooltip="Indietro">
        <mat-icon>arrow_back</mat-icon>Indietro
      </button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12  ordine-title">
     DETTAGLIO ORDINI A FORNITORE
      <span *ngIf="!status"> APPROVATI</span>
      <span *ngIf="status==='T'"> DA APPROVARE</span>
      <span *ngIf="status==='F'"> SOSPESI</span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <mat-card class="float-end">
        <mat-card-content>
          Numero ordine: <b>{{anno}}/{{serie}}/{{progressivo}}</b><br>
          Intestazione: <b>{{ordineFornitoreDettaglio.intestazione}} - {{ordineFornitoreDettaglio.sottoConto}}</b><br>
          Totale: <b>{{ordineFornitoreDettaglio.totale | currency: 'EUR':'symbol'}}</b>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row margin-top">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <mat-form-field>
        <mat-label>Cerca...</mat-label>
        <input matInput (keyup)="applyFilter()" [(ngModel)]="filtro.searchText">
      </mat-form-field>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
      <button mat-raised-button color="warn" (click)="filtro.searchText = ''; applyFilter()">
        Reset
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="mat-elevation-z8">
        <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
        <table class="table-container" *ngIf="!loader" mat-table [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="codice">
            <th mat-header-cell *matHeaderCellDef> Codice</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C'">{{articolo.oarticolo}}</span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="descrizione">
            <th mat-header-cell *matHeaderCellDef> Descrizione</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="(!isAmministrativo && !isAdmin)">{{articolo.odescrArticolo}}</span>
              <textarea *ngIf="(isAmministrativo || isAdmin)" type="text" [(ngModel)]="articolo.odescrArticolo" class="form-control"></textarea>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="quantita">
            <th mat-header-cell *matHeaderCellDef> Quantità</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="((!isAmministrativo && !isAdmin) || status!=='F') && articolo.tipoRigo !== 'C'">{{articolo.oquantita}}&nbsp;</span>
              <input (keyup)="calcolaTotale(articolo)" (change)="calcolaTotale(articolo)" *ngIf="(isAmministrativo || isAdmin) && articolo.tipoRigo !== 'C' && status==='F'" type="number" min="0" class="form-control input quantita" [(ngModel)]="articolo.oquantita">
              {{articolo.ounitaMisura}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="prezzo">
            <th mat-header-cell *matHeaderCellDef> Prezzo</th>
            <td mat-cell *matCellDef="let articolo">
             <span *ngIf="((!isAmministrativo && !isAdmin) || status!=='F') && articolo.tipoRigo !== 'C'">{{articolo.oprezzo | currency: 'EUR':'symbol'}}</span>
              <input (keyup)="calcolaTotale(articolo)" (change)="calcolaTotale(articolo)" *ngIf="(isAmministrativo || isAdmin) && articolo.tipoRigo !== 'C' && status==='F'" type="number" min="0" class="form-control" [(ngModel)]="articolo.oprezzo">
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="sconto">
            <th mat-header-cell *matHeaderCellDef> Sconto</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="((!isAmministrativo && !isAdmin) || status!=='F') && articolo.tipoRigo !== 'C'">{{articolo.fscontoArticolo}}&nbsp;{{articolo.scontoF1 }}&nbsp;{{articolo.scontoF2}}&nbsp;{{articolo.fscontoP}}</span>
              <span *ngIf="(isAmministrativo || isAdmin) && articolo.tipoRigo !== 'C' && status==='F'">
                <input (keyup)="calcolaTotale(articolo)" (change)="calcolaTotale(articolo)" type="number" min="0" class="form-control input" [(ngModel)]="articolo.fscontoArticolo">
                <input (keyup)="calcolaTotale(articolo)" (change)="calcolaTotale(articolo)" type="number" min="0" class="form-control input" [(ngModel)]="articolo.scontoF1">
                <input (keyup)="calcolaTotale(articolo)" (change)="calcolaTotale(articolo)" type="number" min="0" class="form-control input" [(ngModel)]="articolo.scontoF2">
                <input (keyup)="calcolaTotale(articolo)" (change)="calcolaTotale(articolo)" type="number" min="0" class="form-control input" [(ngModel)]="articolo.fscontoP">
              </span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="prezzoTot">
            <th mat-header-cell *matHeaderCellDef> Prezzo Tot</th>
            <td mat-cell *matCellDef="let articolo">
              <span
                *ngIf="articolo.tipoRigo !=='C'">{{ articolo.prezzoTot | currency: 'EUR':'symbol'}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="azioni" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let articolo">
              <button *ngIf="articolo.nota" class="no-pointer" mat-button
                      matTooltip="{{articolo.nota}}" color="primary">
                <mat-icon aria-hidden="false"
                          aria-label="nota ordine cliente" fontIcon="shopping_bag"
                          ></mat-icon>
              </button>
              <button class="no-pointer" *ngIf="articolo.noteOrdCli && articolo.noteOrdCli.trim() && (isAdmin || isAmministrativo || isVenditore)" mat-button
                      matTooltip="{{articolo.noteOrdCli}}" color="primary">
                <mat-icon>event_note</mat-icon>
              </button>
              <button *ngIf="(status || isAdmin)" class="float-end" mat-button (click)="aggiungiRigo(articolo)" color="primary" matTooltip="Aggiungi rigo">
                <mat-icon>add</mat-icon>
              </button>
              <button *ngIf="(isAmministrativo || isAdmin)" (click)="elimina(articolo)" mat-button matTooltip="Cancella articolo" color="primary">
                <mat-icon aria-hidden="false" aria-label="firma" >clear</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-result-list" colspan="4">Nessun
              risultato {{filtro.searchText ? "per la ricerca " + filtro.searchText : ""}}</td>
          </tr>
        </table>
        <mat-paginator aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
  <div class="row float-end">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <button mat-raised-button color="primary"
              *ngIf="isAdmin || (isAmministrativo && status)"
              (click)="salva()" class="margin-top">Salva
      </button>&nbsp;&nbsp;
      <button mat-raised-button color="primary"
              *ngIf="isAdmin || (isAmministrativo && status==='F')"
              (click)="richiediApprovazione()" class="margin-top">Richiedi approvazione
      </button>&nbsp;&nbsp;
      <button mat-raised-button color="primary"
              *ngIf="isAdmin && status === 'T'"
              (click)="approva()" class="margin-top margin-left">Approva
      </button>
    </div>
  </div>
</div>





