<div class="container">
  <div class="row">
    <div class="col-md-12  ordine-title">
      REGISTRO CESPITI
      <span *ngIf="origin==='t'"> TRADING</span>
      <span *ngIf="origin==='c'"> CEGLIE</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <form (ngSubmit)="calcola()" [formGroup]="dateForm" autocomplete="off" class="">
        <mat-form-field appearance="fill">
          <mat-label>Seleziona una data di calcolo ammortamento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataCalcolo" (dateChange)="calcola()" >
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <input type="text"
                 placeholder="Tipo cespite"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                            (optionSelected)="filtroCespite.tipoCespite = $event.option.value.tipoCespite"
                            [displayWith]="getOption">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.tipoCespite}} - {{option.descrizione}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <button mat-icon-button color="primary" (click)="retrieveList()" matTooltip="Cerca">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="reset()" matTooltip="Reset ricerca">
        <mat-icon>backspace</mat-icon>
      </button>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <button *ngIf="ultimoGiornoAnno" mat-icon-button color="primary" (click)="contabilizzaAmm()" matTooltip="Contabilizza ammortamenti">
        <mat-icon >assignment</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="scaricaRegistroCespite()" matTooltip="Scarica registro cespite">
        <mat-icon>download</mat-icon>
      </button>
    </div>
    <div class="mat-elevation-z8">
      <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
      <div *ngIf="!loader">
        <div class="row text" *ngFor="let cat of cespiteList; index as i">
          <div class="col-md-12 categoria">{{cat.tipoCespite}} - {{cat.categoria}} Perc. amm: {{cat.perc}}%</div>
          <div class="col-md-12 cesp-progr"
               *ngFor="let cespiteProgressivo of cat.cespiteProgressivoDtoList; index as i">
            <div class="row" *ngFor="let cespite of cespiteProgressivo.cespiteDtoList; index as i">
              <div class="col-lg-1 col-md-1 col-sm-6">
                {{cespite.codice}}&nbsp;&nbsp;{{cespite.progressivo1}}.{{cespite.progressivo2}}
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                {{cespite.cespite}}&nbsp;&nbsp;Costo storico: {{cespite.importo | currency: 'EUR':'symbol'}}
              </div>
              <div class="col-lg-5 col-md-5 col-sm-12">
                <b>{{cespite.fornitore}}</b><br>
                Fatt n. {{cespite.numDocAcq}} del {{cespite.dataAcq | date:'dd/MM/yyyy'}}<br>
                <span *ngIf="cespite.protocollo">Prot. {{cespite.protocollo}}/{{cespite.giornale}}
                  /{{cespite.anno}}</span>
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1"></div>
              <div class="col-lg-11 col-md-11 col-sm-11">
                <table class="table" *ngIf="cespite.ammortamentoCespiteList.length > 0">
                  <thead>
                  <th>Data</th>
                  <th>Descrizione</th>
                  <th>% Amm</th>
                  <th>Q.ta Amm</th>
                  <th>Q.ta Super Amm. {{cespite.superAmmDesc}}</th>
                  <th>Fondo Amm.</th>
                  <th>V.N.C.</th>
                  </thead>
                  <tbody class="progr2">
                  <tr *ngFor="let ammortamento of cespite.ammortamentoCespiteList; index as i">
                    <td>{{ammortamento.dataAmm | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ammortamento.descrizione}}</td>
                    <td>
                      {{ammortamento.percAmm | number : '1.2-2'}}
                      <div *ngIf="ammortamento.edit"><input type="number" [(ngModel)]="quad.ammortamento"></div>
                      <button *ngIf="!ammortamento.edit" (click)="ammortamento.edit = true" mat-icon-button matTooltip="Modifica" >
                        <mat-icon aria-hidden="false" aria-label="modifica" fontIcon="edit" color="primary"></mat-icon>
                      </button>
                      <button *ngIf="ammortamento.edit" (click)="salvaQuad(cespite, ammortamento)" mat-icon-button matTooltip="Salva" >
                        <mat-icon aria-hidden="false" aria-label="save" fontIcon="save" color="primary"></mat-icon>
                      </button>
                      <button *ngIf="ammortamento.edit" (click)="ammortamento.edit = false" mat-icon-button matTooltip="Chiudi">
                        <mat-icon aria-hidden="false" aria-label="close" fontIcon="close" class="warn"></mat-icon>
                      </button>
                    </td>
                    <td>{{ammortamento.quota | number : '1.2-2'}}</td>
                    <td>{{ammortamento.superQuota | number : '1.2-2'}}</td>
                    <td>{{ammortamento.fondo | number : '1.2-2'}}</td>
                    <td>{{ammortamento.residuo | number : '1.2-2'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--Riepilogo-->
          <div class="col-md-12 ">
            <table class="table">
              <thead>
              <th>Fiscale</th>
              <th>Valore agg.to</th>
              <th>Amm. ordinario</th>
              <th>Totale amm.ti</th>
              <th>Non amm.ti</th>
              <th>Fondo amm.ti</th>
              <th>Residuo amm.ti</th>
              </thead>
              <tbody class="">
              <tr>
                <td>A inizio esercizio</td>
                <td>{{cat.somma.inizioEsercizio.valoreAggiornato | number : '1.2-2'}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{cat.somma.inizioEsercizio.fondoAmmortamenti | number : '1.2-2'}}</td>
                <td>{{cat.somma.inizioEsercizio.residuo | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>Acquisti</td>
                <td>{{cat.somma.acquisti.valoreAggiornato | number : '1.2-2'}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Vendite</td>
                <td>{{cat.somma.vendite.valoreAggiornato | number : '1.2-2'}}</td>
                <td></td>
                <td>{{cat.somma.vendite.totaleAmmortamento | number : '1.2-2'}}</td>
                <td></td>
                <td>{{cat.somma.vendite.fondoAmmortamenti | number : '1.2-2'}}</td>
                <td></td>
              </tr>
              <tr>
                <td>Amm.ti deducibili</td>
                <td>{{cat.somma.ammortamentiDeducibili.valoreAggiornato | number : '1.2-2'}}</td>
                <td>{{cat.somma.ammortamentiDeducibili.ammortamentoOrdinario | number : '1.2-2'}}</td>
                <td>{{cat.somma.ammortamentiDeducibili.totaleAmmortamento | number : '1.2-2'}}</td>
                <td></td>
                <td>{{cat.somma.ammortamentiDeducibili.fondoAmmortamenti | number : '1.2-2'}}</td>
                <td>{{cat.somma.ammortamentiDeducibili.residuo | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>A fine esercizio</td>
                <td>{{cat.somma.fineEsercizio.valoreAggiornato | number : '1.2-2'}}</td>
                <td></td>
                <td>{{cat.somma.fineEsercizio.totaleAmmortamento | number : '1.2-2'}}</td>
                <td></td>
                <td>{{cat.somma.fineEsercizio.fondoAmmortamenti | number : '1.2-2'}}</td>
                <td>{{cat.somma.fineEsercizio.residuo | number : '1.2-2'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--Riepilogo Plus/minus -->
          <div class="col-md-12 riep-plus-grid" *ngIf="cat.somma.plusMinus">
            <div>Plus/Minusvalenze annue:  {{cat.somma.plusMinus.totale  | number : '1.2-2'}}</div>
          </div>
          <!--Riepilogo Maggiorazione -->
          <div class="col-md-12" *ngIf="cat.somma.superAmm1 || cat.somma.superAmm2 || cat.somma.superAmm3">
            <div class="riep-magg-grid">
              <div class="totale">Totale Maggiorazioni deducibili: {{
                ((cat.somma.superAmm1 ? cat.somma.superAmm1.totale : 0) +
                  (cat.somma.superAmm2 ? cat.somma.superAmm2.totale : 0) +
                  (cat.somma.superAmm3 ? cat.somma.superAmm3.totale : 0))  | number : '1.2-2'}}</div>
              <div class="elenco-magg">
                <div *ngIf="cat.somma.superAmm1">{{cat.somma.superAmm1.desc}}
                  : {{cat.somma.superAmm1.totale | number : '1.2-2'}}</div>
                <div *ngIf="cat.somma.superAmm2">{{cat.somma.superAmm2.desc}}
                  : {{cat.somma.superAmm2.totale | number : '1.2-2'}}</div>
                <div *ngIf="cat.somma.superAmm3">{{cat.somma.superAmm3.desc}}
                  : {{cat.somma.superAmm3.totale | number : '1.2-2'}}</div>
              </div>
            </div>
          </div>
        </div>
        <!--Riepilogo totale-->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table">
              <thead>
              <th>Fiscale</th>
              <th>Valore agg.to</th>
              <th>Amm. ordinario</th>
              <th>Totale amm.ti</th>
              <th>Non amm.ti</th>
              <th>Fondo amm.ti</th>
              <th>Residuo amm.ti</th>
              </thead>
              <tbody class="">
              <tr>
                <td>A inizio esercizio</td>
                <td>{{sommaAmm.inizioEsercizio.valoreAggiornato | number : '1.2-2'}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{sommaAmm.inizioEsercizio.fondoAmmortamenti | number : '1.2-2'}}</td>
                <td>{{sommaAmm.inizioEsercizio.residuo | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>Acquisti</td>
                <td>{{sommaAmm.acquisti.valoreAggiornato | number : '1.2-2'}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Vendite</td>
                <td>{{sommaAmm.vendite.valoreAggiornato | number : '1.2-2'}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Amm.ti deducibili</td>
                <td>{{sommaAmm.ammortamentiDeducibili.valoreAggiornato | number : '1.2-2'}}</td>
                <td>{{sommaAmm.ammortamentiDeducibili.ammortamentoOrdinario | number : '1.2-2'}}</td>
                <td>{{sommaAmm.ammortamentiDeducibili.totaleAmmortamento | number : '1.2-2'}}</td>
                <td></td>
                <td>{{sommaAmm.ammortamentiDeducibili.fondoAmmortamenti | number : '1.2-2'}}</td>
                <td>{{sommaAmm.ammortamentiDeducibili.residuo | number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td>A fine esercizio</td>
                <td>{{sommaAmm.fineEsercizio.valoreAggiornato | number : '1.2-2'}}</td>
                <td></td>
                <td>{{sommaAmm.fineEsercizio.totaleAmmortamento | number : '1.2-2'}}</td>
                <td></td>
                <td>{{sommaAmm.fineEsercizio.fondoAmmortamenti | number : '1.2-2'}}</td>
                <td>{{sommaAmm.fineEsercizio.residuo | number : '1.2-2'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--Riepilogo Plus/minus -->
          <div class="col-md-12 riep-plus-grid" *ngIf="sommaAmm.plusMinus">
            <div>Plus/Minusvalenze annue:  {{sommaAmm.plusMinus.totale  | number : '1.2-2'}}</div>
          </div>
          <!--Riepilogo Maggiorazione -->
          <div class="col-md-12" *ngIf="sommaAmm.superAmm1 || sommaAmm.superAmm2 || sommaAmm.superAmm3">
            <div class="riep-magg-grid">
              <div class="totale">Totale Maggiorazioni deducibili: {{
                ((sommaAmm.superAmm1 ? sommaAmm.superAmm1.totale : 0) +
                  (sommaAmm.superAmm2 ? sommaAmm.superAmm2.totale : 0) +
                  (sommaAmm.superAmm3 ? sommaAmm.superAmm3.totale : 0))  | number : '1.2-2'}}</div>
              <div class="elenco-magg">
                <div *ngIf="sommaAmm.superAmm1">{{sommaAmm.superAmm1.desc}}
                  : {{sommaAmm.superAmm1.totale | number : '1.2-2'}}</div>
                <div *ngIf="sommaAmm.superAmm2">{{sommaAmm.superAmm2.desc}}
                  : {{sommaAmm.superAmm2.totale | number : '1.2-2'}}</div>
                <div *ngIf="sommaAmm.superAmm3">{{sommaAmm.superAmm3.desc}}
                  : {{sommaAmm.superAmm3.totale | number : '1.2-2'}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="no-result-list" *ngIf="!cespiteList || cespiteList.length === 0">
          Nessun risultato
        </div>
      </div>
    </div>
  </div>
</div>
