<div class="container" *ngIf="isAdmin">
  <div class="row">
    <div class="col-md-12  ordine-title">
      PRIMANOTA
      <span *ngIf="origin==='t'"> TRADING</span>
      <span *ngIf="origin==='c'"> CEGLIE</span>
      <span *ngIf="origin==='o'"> OSTUNI</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1">
      <mat-form-field>
        <mat-label>giornale...</mat-label>
        <input class="giornale" matInput [(ngModel)]="filtro.giornale">
      </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <mat-form-field>
        <mat-label>anno...</mat-label>
        <input matInput [(ngModel)]="filtro.anno">
      </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4">
      <mat-form-field>
        <mat-label>protocollo...</mat-label>
        <input matInput [(ngModel)]="filtro.protocollo">
      </mat-form-field>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
      <button mat-raised-button color="primary" (click)="retrieveList()">
        Cerca
      </button>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
      <button mat-raised-button color="warn" (click)="reset()">
        Reset
      </button>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2" *ngIf="primanotaList && primanotaList.length > 0">
      <button mat-raised-button color="primary" (click)="aggiungiRigo()">
        Aggiungi rigo
      </button>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2" *ngIf="primanotaList && primanotaList.length > 0">
      <button mat-raised-button color="primary" (click)="registraVendita()">
        Registra vendita
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="mat-elevation-z8">
        <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
        <div *ngIf="!loader">
          <table class="table table-container">
            <thead>
              <th>Data doc</th>
              <th>Num doc</th>
              <th>Gruppoconto</th>
              <th>Sottoconto</th>
              <th>Descrizione</th>
              <th>Importo</th>
              <th></th>
            </thead>
            <tbody class="">
            <tr *ngFor="let primanota of primanotaList; index as i">
              <td>
                {{primanota.datamovimento | date: 'dd/MM/yyyy'}}
              </td>
              <td>
                {{primanota.numerodocumento}}
              </td>
              <td>
                <div *ngIf="!primanota.edit">{{primanota.gruppoconto}}</div>
                <div *ngIf="primanota.edit">
                  <input type="text" class="form-control input" [(ngModel)]="primanota.gruppoconto">
                  <button (click)="cercaConto(primanota)" mat-icon-button matTooltip="Cerca conto" >
                    <mat-icon aria-hidden="false" aria-label="save" fontIcon="search" color="primary"></mat-icon>
                  </button>
                </div>
              </td>
              <td>
                <div *ngIf="!primanota.edit">{{primanota.sottoconto}}</div>
                <div *ngIf="primanota.edit"><input type="text" class="form-control input" [(ngModel)]="primanota.sottoconto"></div>
              </td>
              <td>
                <div *ngIf="!primanota.edit">{{primanota.descrsuppl}}</div>
                <div *ngIf="primanota.edit"><input type="text" class="form-control input desc" [maxlength]="50" [(ngModel)]="primanota.descrsuppl"></div>
              </td>
              <td>
                <div *ngIf="!primanota.edit">{{primanota.importo | currency: 'EUR':'symbol'}}</div>
                <div *ngIf="primanota.edit"><input type="number" class="form-control input" [(ngModel)]="primanota.importo"></div>
              </td>
              <td>
                <button *ngIf="!primanota.edit" (click)="primanota.edit = true" mat-icon-button matTooltip="Modifica" >
                  <mat-icon aria-hidden="false" aria-label="modifica" fontIcon="edit" color="primary"></mat-icon>
                </button>
                <button *ngIf="primanota.edit" (click)="salva(primanota)" mat-icon-button matTooltip="Salva" >
                  <mat-icon aria-hidden="false" aria-label="save" fontIcon="save" color="primary"></mat-icon>
                </button>
                <button *ngIf="primanota.edit" (click)="primanota.edit = false" mat-icon-button matTooltip="Chiudi">
                  <mat-icon aria-hidden="false" aria-label="close" fontIcon="close" class="warn"></mat-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="no-result-list" *ngIf="!primanotaList || primanotaList.length === 0">Nessun risultato per la ricerca effettuata</div>
        </div>
      </div>
    </div>
  </div>
</div>




