.text {
  font-size: 13px;
}

.cesp-progr {
  border-bottom: 1px dashed;
  margin-bottom: 15px;
}

.categoria {
  padding: 10px;
  background: #e5e5e5;
  border-bottom: 1px solid;
}

.progr2 {
  border-bottom: 1px dashed;
  padding-bottom: 3px;
}
