<div class="container" *ngIf="isAdmin">
  <div class="row">
    <div class="col-md-12  ordine-title">
      Cespiti
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5">
      <mat-form-field>
        <mat-label>Cerca...</mat-label>
        <input matInput (keyup)="applyFilter()" [(ngModel)]="filtro.searchText">
      </mat-form-field>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
      <button mat-raised-button color="warn" (click)="filtro.searchText = ''; applyFilter()">
        Reset
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="mat-elevation-z8">
        <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
        <table class="table-container" *ngIf="!loader" mat-table [dataSource]="dataSource">

          <!-- Name Column -->
          <ng-container matColumnDef="codice">
            <th mat-header-cell *matHeaderCellDef>Tipo cespite</th>
            <td mat-cell *matCellDef="let cespite">
              <span style="vertical-align: super;">{{cespite.tipoCespite}}</span>
              <button *ngIf="cespite.edit" (click)="cercaConto(cespite)" mat-icon-button matTooltip="Cerca conto" >
                <mat-icon aria-hidden="false" aria-label="save" fontIcon="search" color="primary"></mat-icon>
              </button>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="progressivo">
            <th mat-header-cell *matHeaderCellDef>Progressivo</th>
            <td mat-cell *matCellDef="let cespite">
              <div >{{cespite.progressivo1}}.{{cespite.progressivo2}}</div>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef>Descrizione</th>
            <td mat-cell *matCellDef="let cespite">
              <div >{{cespite.cespite}}</div>
            </td>
          </ng-container>
          <!-- Name Column -->
<!--          <ng-container matColumnDef="perc">-->
<!--            <th mat-header-cell *matHeaderCellDef> Percentuale</th>-->
<!--            <td mat-cell *matCellDef="let cespite">-->
<!--              <div *ngIf="!cespite.edit">{{cespite.ammortamento}}</div>-->
<!--              <div *ngIf="cespite.edit"><input type="number" class="form-control input" [(ngModel)]="cespite.ammortamento"></div>-->
<!--            </td>-->
<!--          </ng-container>-->
          <ng-container matColumnDef="azioni">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let cespite">
              <button *ngIf="!cespite.edit" (click)="cespite.edit = true" mat-icon-button matTooltip="Modifica" >
                <mat-icon aria-hidden="false" aria-label="modifica" fontIcon="edit" color="primary"></mat-icon>
              </button>
              <button *ngIf="cespite.edit" (click)="salva(cespite)" mat-icon-button matTooltip="Salva" >
                <mat-icon aria-hidden="false" aria-label="save" fontIcon="save" color="primary"></mat-icon>
              </button>
              <button *ngIf="cespite.edit" (click)="cespite.edit = false" mat-icon-button matTooltip="Chiudi">
                <mat-icon aria-hidden="false" aria-label="close" fontIcon="close" class="warn"></mat-icon>
              </button>
              <button (click)="elimina(cespite.id)" mat-icon-button matTooltip="Elimina">
                <mat-icon aria-hidden="false" aria-label="elimina" fontIcon="delete" color="primary"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-result-list" colspan="4">Nessun risultato {{filtro.searchText ? "per la ricerca " + filtro.searchText : ""}}</td>
          </tr>
        </table>
        <mat-paginator aria-label="Select page of ordini clienti"></mat-paginator>
      </div>
    </div>
  </div>
</div>




