<div class="header-bar" *ngIf="!compactMode">
  <div class="ordine-title">
    <span>CONSEGNE SETTIMANALI</span>

    <button mat-icon-button (click)="mostraMappa()">
      <mat-icon>location_on</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="showMappa && !compactMode" class="map-wrapper">
  <app-map [ordini]="ordiniMappa"></app-map>
</div>

<div class="week-navigation" *ngIf="!compactMode">
  <button
    class="calendar-btn"
    [disabled]="filtro.deltaSettimana === -3"
    mat-raised-button
    (click)="retrieveList(-3)">
    <mat-icon>first_page</mat-icon>
  </button>

  <button
    class="calendar-btn"
    [disabled]="filtro.deltaSettimana === -2"
    mat-raised-button
    (click)="retrieveList(-2)">
    <mat-icon>keyboard_double_arrow_left</mat-icon>
  </button>

  <button
    class="calendar-btn"
    [disabled]="filtro.deltaSettimana === -1"
    mat-raised-button
    (click)="retrieveList(-1)">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button
    class="calendar-btn"
    [disabled]="filtro.deltaSettimana === 0"
    mat-raised-button
    (click)="retrieveList(0)">
    <mat-icon>today</mat-icon>
  </button>

  <button
    class="calendar-btn"
    [disabled]="filtro.deltaSettimana === 1"
    mat-raised-button
    (click)="retrieveList(1)">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <button
    class="calendar-btn"
    [disabled]="filtro.deltaSettimana === 2"
    mat-raised-button
    (click)="retrieveList(2)">
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>

  <button
    [disabled]="filtro.deltaSettimana === 3"
    mat-raised-button
    (click)="retrieveList(3)">
    <mat-icon>last_page</mat-icon>
  </button>
</div>

<div class="planner-wrapper">
  <div class="planner-content">
    <div class="giorni-container">
      <div class="planner-grid">
        <div class="planner-grid-inner">
          <div class="presentation">

            <div class="giorni-header">
              <div class="giorni-row">

                <div class="giorni-box" *ngFor="let giorno of giorni">
                  <h2 class="titolo">
                    <div class="giorno-header">
                      <span class="giorno-sett">
                        {{ getLabelGiorno(giorno.giorno) }}
                      </span>
                      <span
                        class="badge-consegne"
                        [class.badge-active]="giorno.numeroConsegne > 0">{{ giorno.numeroConsegne }}
                      </span>
                    </div>
                    <div class="giorno-num">
                      {{ giorno.data | date:'d' }}
                      <button
                        *ngIf="getNota(giorno)?.id"
                        mat-icon-button
                        matTooltip="{{ getNota(giorno)?.nota }}"
                        #tooltip="matTooltip"
                        (click)="tooltip.toggle()">
                        <mat-icon color="primary">announcement</mat-icon>
                      </button>
                    </div>

                  </h2>
                </div>

              </div>
            </div>

            <div class="consegne">
              <div class="consegne-container">
                <div class="consegne-box">
                  <div class="consegne-row">

                    <div class="grid-cell" *ngFor="let giorno of giorni">
                      <div *ngFor="let consegna of giorno.consegne">
                        <div class="box-evento">
                          <div
                            class="evento"
                            [ngClass]="{ 'pomeriggio': consegna.oraConsegna === 'P' }"
                            (click)="onClickConsegna(consegna, giorno)">

                            <div class="evento-title">
                              <div class="evento-localita">
                                {{ consegna.localita }}
                              </div>
                              <div class="evento-ordine">
                                {{ consegna.anno }}/{{ consegna.serie }}/{{ consegna.progressivo }}
                              </div>
                              <div class="evento-cliente">
                                <mat-icon class="evento-icon">person</mat-icon>
                                {{ consegna.intestazione }}
                              </div>
                              <div class="evento-divider" *ngIf="!compactMode && consegna.indirizzo"></div>
                              <div class="evento-indirizzo" *ngIf="!compactMode && consegna.indirizzo">
                                <mat-icon class="evento-icon">place</mat-icon>
                                {{ consegna.indirizzo }}
                              </div>
                              <div class="evento-divider" *ngIf="!compactMode && consegna.cellulare"></div>
                              <div class="evento-cellulare" *ngIf="!compactMode && consegna.cellulare">
                                <mat-icon class="evento-icon">phone</mat-icon>
                                {{ consegna.cellulare }}
                              </div>
                              <div class="evento-footer">

    <span>
      {{ consegna.oraConsegna === 'P' ? 'Pomeriggio' : 'Mattina' }}
    </span>

                                <span>
      {{ consegna.descVeicolo }}
    </span>

                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
