<form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
  <div style="display: flex; justify-content: center">
    <mat-card style="width: 25%; border-top: 1px solid #e5e5e5;">
      <mat-card-header style="border-bottom: 1px solid #d5d5d5; padding-bottom: 20px;">
        <mat-card-title style=" font-size: 24px; font-weight: bold">
          Login
        </mat-card-title>
      </mat-card-header>
      <mat-card-content style="">
        <!-- Username -->
        <mat-form-field>
          <mat-label><mat-icon>account_circle</mat-icon>&nbsp;Username</mat-label>
          <input
            matInput
            placeholder="Ex. profanis"
            formControlName="username"
          />
        </mat-form-field>
        <!-- /Username -->

        <!-- Password -->
        <mat-form-field>
          <mat-label><mat-icon>lock</mat-icon>&nbsp;Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Ex. s3c3tP@ss"
            formControlName="password"
          />
        </mat-form-field>
        <!-- /Password -->
      </mat-card-content>
      <mat-card-actions style="padding: 0 16px;">
        <button type="submit" mat-raised-button color="primary" style="width:100%">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
