.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-card-header {
  justify-content: center;
}

.mat-mdc-card-content {
  display: block;
  padding: 16px 16px 0 16px;
}

.padding-centrato {
  padding: 0 16px;
}

.width-100 {
  width: 100%;
}

.login-container{
  display: flex;
  justify-content: center;
}

.mat-card-container {
  width: 25%;
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
}

.mat-card-header {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 20px;
}

.mat-card-title {
  font-size: 24px;
  font-weight: bold
}

@media screen and (max-width: 875px) {
  .mat-card-container {
    width: 50%;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
  }
}
