.nota-presente {
  color:#d11f0c!important;
}
.nota-logistica-presente {
  color: #25be32 !important;
}

.note {
  font-size:0.75em;
  min-width: 300px;
}

tr.example-detail-row {
  height: 0;
}

.mat-column-veicolo{
  min-width: 206px;
}

.select {
  width:140px;
}

.example-detail-row td {
  border-top-width: 0;
  background-color: #b0cca2;
  color: #050505;
}

.table{
  font-size: 0.85em;

}

.map-container {
  width: 100%;
  height: 400px;
}

.mat-mdc-icon-button[disabled] {
  pointer-events: auto!important;
}

.btn-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.icon {
  position: absolute;
  top: 8px;
  left: 10px;
}

.inline {
  display: inline;
}

.search {
  top:9px;
  left: 9px;
}

.backspace {
  margin-left: 5px;
}

.backspace-icon {
  left:7px;
}

.flVenditore {
  background: #607d8b;
}

.flVenditoreIcon {
  color: #000!important;
}

.stato {
  width: 200px;
}

.mat-column-status{
  font-size: 13px;
}

.select {
  width:100px;
}
