<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-form-field >
        <input matInput (keyup)="applyFilter($event)" placeholder="Cerca..." #input>
      </mat-form-field>
      <mat-radio-group *ngIf="isAmministrativo" (change)="getArticoliByOrdineId(anno, serie, progressivo, filtroArticoli)"
                       aria-label="Select an option" [(ngModel)]="filtroArticoli">
        <mat-radio-button *ngFor="let option of radioOptions"  [checked]="option.checked" [value]="option.checked">{{option.name}}</mat-radio-button>
      </mat-radio-group>
      <div class="mat-elevation-z8">
        <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
        <table *ngIf="!loader" mat-table [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="codice">
            <th mat-header-cell *matHeaderCellDef> Codice </th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C'">{{articolo.codArtFornitore}}</span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="descrizione">
            <th mat-header-cell *matHeaderCellDef > Descrizione </th>
            <td mat-cell *matCellDef="let articolo">
              {{articolo.fdescrArticolo}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="quantita">
            <th mat-header-cell *matHeaderCellDef> Quantità </th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C' && !isMagazziniere">{{articolo.quantita}}&nbsp;{{articolo.funitaMisura}}</span>
              <input *ngIf="articolo.tipoRigo !=='C' && isMagazziniere  && status === 'DA_PROCESSARE'" type="number" min="0" class="form-control input" [(ngModel)]="articolo.quantita"/>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="prezzo">
            <th mat-header-cell *matHeaderCellDef> Prezzo </th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C'">{{articolo.prezzo | currency: 'EUR':'symbol'}}</span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="tono">
            <th mat-header-cell *matHeaderCellDef> Tono </th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C' && !isMagazziniere">{{articolo.geTono}}</span>
              <input *ngIf="articolo.tipoRigo !=='C' && isMagazziniere && status === 'DA_PROCESSARE'" type="text" class="form-control input" [(ngModel)]="articolo.geTono"/>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flRiservato">
            <th mat-header-cell *matHeaderCellDef> Riservato </th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C'"><mat-checkbox disabled="{{!isMagazziniere || status !== 'DA_PROCESSARE'}}" [(ngModel)]="articolo.geFlagRiservato" color="primary"></mat-checkbox></span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flDisponibile">
            <th mat-header-cell *matHeaderCellDef>Non disponibile </th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C'"><mat-checkbox disabled="{{!isMagazziniere || status !== 'DA_PROCESSARE'}}" [(ngModel)]="articolo.geFlagNonDisponibile" color="primary"></mat-checkbox></span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flOrdinato">
            <th mat-header-cell *matHeaderCellDef> Ordinato </th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C'"><mat-checkbox disabled="{{!isAmministrativo || status !== 'DA_ORDINARE'}}" [(ngModel)]="articolo.geFlagOrdinato" color="primary"></mat-checkbox></span>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="flConsegnato">
            <th mat-header-cell *matHeaderCellDef> Consegnato </th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C'"><mat-checkbox disabled="{{!isMagazziniere || status !== 'INCOMPLETO'}}" [(ngModel)]="articolo.geFlagConsegnato" color="primary"></mat-checkbox></span>
            </td>
          </ng-container>

          <ng-container matColumnDef="azioni">
            <th mat-header-cell *matHeaderCellDef > </th>
            <td mat-cell *matCellDef="let articolo">
              <button *ngIf="articolo.tipoRigo !=='C'" (click)="showHistory(articolo)" mat-button matTooltip="Storia articolo">
                <mat-icon aria-hidden="false" aria-label="firma" fontIcon="work_history" color="primary"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nessun risultato {{input.value?"per la ricerca " + input.value:""}}</td>
          </tr>
        </table>

        <mat-paginator aria-label="Select page of users"></mat-paginator>
      </div>
      <button mat-raised-button color="warn" disabled="{{!isMagazziniere || !isAmministrativo}}" (click)="chiudiOrdine()" class="float-end margin-top margin-left">Chiudi ordine</button>
      <button mat-raised-button color="primary" (click)="salvaOrdine()" class="float-end margin-top">Salva</button>&nbsp;&nbsp;
    </div>
  </div>
</div>



