.mat-mdc-header-cell {
  font-size:12px!important;
}


.mdc-data-table__cell{
  padding: 0 5px;
}

.example-container {
  max-width: 100%;
  font-size: 12px;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  height: 400px;
}

.padding-right {
  padding-right: 5px;
}

.acconti-container{
  max-width: 100%;
  font-size: 12px;
  margin: 0 auto 5px;
  position: relative;
  overflow: auto;
}

.input {
  display: inline;
  height: fit-content;
  font-size: 1rem;
  width: 90px;
}

.mat-column-azioni {
  text-align: right;
  font-weight: bold;
  min-width: 35px;
}

.margin-left {
  margin-left: 25px;
}

.mdc-data-table__header-cell{
  padding: 0 5px;
  font-size: 12px;
}

.mat-column-descrizione {
  min-width: 150px;
  font-size:1rem;
}

.mat-column-quantita .mat-column-qtaProntoConsegna .mat-column-qtaRiservata{
  min-width: 140px;
  font-size:1rem;
}

.mat-column-tono {
  min-width: 110px;
  font-size:1rem;
}

.mat-column-prezzo {
  font-size:1rem;
}

.mat-column-prezzoTot {
  font-size:1rem;
}

.mat-column-flRiservato {
  text-align: center;
}

.mat-column-flConsegnato {
  text-align: center;
}

.mat-column-flOrdinato {
  text-align: center;
}

.mat-column-flDisponibile{
  text-align: center;
}

.mat-column-tono>input{
  width:100%;
}

tr.example-detail-row {
  height: 0;
}

.example-detail-row td {
  border-top-width: 0;
  background-color: #1976d2;
  color: white;
}

.shipping {
  font-size: 55px!important;
  height: 55px!important;
  width: 55px!important;
}

.mat-icon {
  font-size: 18px;
}

.icon-detail {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.logistica {
  right: -6px;
}

.bolla-box {
  display:inline-flex;
  align-items: center;
  column-gap: 25px;
}

.nota-presente {
  color:#d11f0c!important;
}

.testata-margin-top {
  margin-top: 5px;
}

mat-card-content {
  padding: 5px!important;
}

.hasCarico {
  padding: 5px;
  background-color: #fbf403;
}

.nota-logistica-presente {
  color: #25be32 !important;
}

.button-row {
  margin: 0 8px;
}
