<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 ordine-title">
      DETTAGLIO ORDINE
      <span *ngIf="filtro.statusOrdine==='DA_PROCESSARE'"> DA PROCESSARE</span>
      <span *ngIf="filtro.statusOrdine==='DA_ORDINARE'"> DA ORDINARE</span>
      <span *ngIf="filtro.statusOrdine==='INCOMPLETO'"> INCOMPLETO</span>
      <span *ngIf="filtro.statusOrdine==='COMPLETO'"> COMPLETO</span>
      <span *ngIf="filtro.statusOrdine==='ARCHIVIATO'"> ARCHIVIATO</span>
    </div>
    <div class="col-lg-12 col-md-4 col-sm-12">
      <button class="button-row" mat-raised-button (click)="annulla()" color="primary" matTooltip="Indietro">
        <mat-icon>arrow_back</mat-icon>Indietro
      </button>
      <button class="button-row" *ngIf="perm.canCreaOrdineForn && filtro.statusOrdine === 'DA_ORDINARE'" mat-raised-button color="primary" (click)="creaOrdineForn()">
        Crea Ordine a forn.
      </button>
      <button class="button-row" *ngIf="perm.canCaricaMagazzino" [disabled]="selection.isEmpty()" mat-raised-button color="primary" (click)="caricaMagazzino()">
        Carica Mag.
      </button>
      <button class="button-row" *ngIf="perm.canCodificaArticoli" mat-raised-button color="primary" (click)="codificaArticoli()">
        Codifica art.
      </button>
      <button class="button-row" *ngIf="perm.canCreaFatturaAcconto" mat-raised-button color="primary" (click)="creaFatturaAcconto()">
        Crea Fatt. Acconto
      </button>
      <button class="button-row" *ngIf="perm.canSelectBolla" [disabled]="selection.isEmpty() || disabilitaBolla" mat-raised-button color="primary" (click)="cercaAltriOrdini()">
        Crea Bolla
      </button>
      <button class="button-row" [disabled]="selection.isEmpty()" mat-raised-button color="primary" (click)="cercaSchedeTecniche()" >
        Schede tecnica <mat-icon>download</mat-icon>
      </button>
      <button class="button-row" *ngIf="perm.canNoteLogistica"  (click)="aggiungiNoteLogistica(ordineDettaglio)" mat-raised-button
              [matTooltip]="(ordineDettaglio.noteLogistica && ordineDettaglio.noteLogistica !== 'NULL') ? ordineDettaglio.noteLogistica : ''" matTooltipClass="note">
        <mat-icon aria-hidden="false" aria-label="firma" fontIcon="contact_phone" color="primary"
                  [ngClass]="{'nota-logistica-presente':ordineDettaglio.noteLogistica && ordineDettaglio.noteLogistica !== 'NULL'}" class="icon-detail logistica"></mat-icon>
      </button>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12">
      <mat-card class="margin-bottom testata-margin-top">
        <mat-card-content>
          <span class="padding-right">Numero ordine: <b>{{filtroArticoli.anno}}/{{filtroArticoli.serie}}/{{filtroArticoli.progressivo}}</b> del <b>{{ordineDettaglio.dataOrdine | date: 'dd/MM/yyyy'}}</b></span>
          <span class="padding-right">intestato a
            <b>{{ordineDettaglio.intestazione}} - {{ordineDettaglio.sottoConto}}</b>&nbsp;
            <span style="font-size: 0.75em" *ngIf="ordineDettaglio.riferimento && ordineDettaglio.riferimento !== ' '">({{ordineDettaglio.riferimento}})</span>
          </span>
          <span class="padding-right">Totale: <b>{{ordineDettaglio.totale | currency: 'EUR':'symbol'}}</b></span>
          <span class="padding-right">Pagam: <b>{{ordineDettaglio.modalitaPagamento}}</b></span>
          <span class="padding-right">Tel: <b>{{ordineDettaglio.telefono}} - {{ordineDettaglio.cellulare}}</b></span>
          <button class="float-end" (click)="mostraAcconti(ordineDettaglio.sottoConto)" mat-button
                  matTooltip="Mostra acconti">
            <mat-icon aria-hidden="false" aria-label="mostra acconti" color="primary">receipt_long</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-fido-cliente *ngIf="showAcconti" [contoCliente]="ordineDettaglio.sottoConto"></app-fido-cliente>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <mat-form-field>
        <mat-label>Cerca...</mat-label>
        <input matInput (keyup)="applyFilter()" [(ngModel)]="filtro.searchText">
      </mat-form-field>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
      <button mat-raised-button color="warn" (click)="filtro.searchText = ''; applyFilter()">
        Reset
      </button>
    </div>
    <div *ngIf="filtro.statusOrdine === 'DA_ORDINARE'" class="col-lg-3 col-md-6 col-sm-12">
      <mat-radio-group
        (change)="getArticoliByOrdineId()"
        aria-label="Select an option" [(ngModel)]="filtroArticoli.flNonDisponibile">
        <mat-radio-button *ngFor="let option of radioOptions" [checked]="option.checked"
                          [value]="option.checked" color="primary">{{option.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="filtro.statusOrdine !== 'DA_ORDINARE' " class="col-lg-5 col-md-12 col-sm-12">
      <mat-radio-group (change)="getArticoliByOrdineId()"
                       aria-label="Select an option" [(ngModel)]="filtroArticoli.flConsegna">
        <mat-radio-button *ngFor="let option of radioConsegnatoOptions" [checked]="option.checked"
                          [value]="option.value" color="primary">{{option.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <section class="example-container mat-elevation-z8" tabindex="0">
        <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
        <table class="table-container" *ngIf="!loader" mat-table multiTemplateDataRows [dataSource]="dataSource">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox color="primary"
                            (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox color="primary" *ngIf="row.tipoRigo !== 'AC'"
                            (click)="$event.stopPropagation();"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="codice">
            <th mat-header-cell *matHeaderCellDef>Codice</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'">
                <span [ngClass]="{'hasCarico': articolo.numDoc && !articolo.flagRiservato && articolo.flagOrdinato}" [matTooltip]="'Art. caricato il ' + (articolo.dataCarico  | date: 'dd/MM/yyyy' )+
                 ' con n.doc. ' + articolo.numDoc + ' del ' + (articolo.dataDoc | date: 'dd/MM/yyyy' ) + '. Movimento mag. ' + articolo.annoMag + '/'
                  + articolo.serieMag + '/' + articolo.progressivoMag">{{articolo.farticolo}}</span>
              </span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="descrizione">
            <th mat-header-cell *matHeaderCellDef>Descrizione</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="(articolo.tipoRigo ==='C' || articolo.tipoRigo ==='AC')">
                {{articolo.fdescrArticolo}}
              </span>
              <span
                *ngIf="(articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !perm.canEditDescrizione) || filtro.statusOrdine === 'ARCHIVIATO'">
                {{articolo.fdescrArticolo}}<br><b>{{articolo.codArtFornitore}}</b>
              </span>
                <textarea *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && perm.canEditDescrizione && filtro.statusOrdine !== 'ARCHIVIATO'" type="text" class="form-control"
                     [(ngModel)]="articolo.fdescrArticolo" ></textarea>
              <textarea *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && perm.canEditCodiceFornitore && filtro.statusOrdine !== 'ARCHIVIATO'" type="text" class="form-control"
                     [(ngModel)]="articolo.codArtFornitore"> </textarea>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="quantita">
            <th mat-header-cell *matHeaderCellDef>Qtà<br>(da conseg.)</th>
            <td mat-cell *matCellDef="let articolo">
              <span
                *ngIf="(articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !perm.canEditQuantita) || filtro.statusOrdine === 'ARCHIVIATO'">{{articolo.quantita}}</span>
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && perm.canEditQuantita && filtro.statusOrdine !== 'ARCHIVIATO'" type="number"
                     min="0" class="form-control input" (change)="resetQta(articolo)"
                     [(ngModel)]="articolo.quantita"/>
              &nbsp;{{articolo.funitaMisura}}
              <span *ngIf="articolo.flBolla">&nbsp;({{articolo.qtaDaConsegnare | number : '1.2-2'}})</span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="qtaConsegnatoSenzaBolla">
            <th mat-header-cell *matHeaderCellDef> Qtà senza bolla</th>
            <td mat-cell *matCellDef="let articolo">
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && perm.canEditQtaConsegnatoSenzaBolla" type="number"
                     min="0" class="form-control input"
                     [(ngModel)]="articolo.qtaConsegnatoSenzaBolla"/>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="prezzo">
            <th mat-header-cell *matHeaderCellDef>Prezzo Unit</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'">
                {{articolo.prezzo | currency: 'EUR':'symbol'}}
                <span *ngIf="articolo.prezzoScontato">
                  <b>({{articolo.prezzoScontato | currency: 'EUR':'symbol'}})</b>
                </span>
              </span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="prezzoTot">
            <th mat-header-cell *matHeaderCellDef>Prezzo Tot</th>
            <td mat-cell *matCellDef="let articolo">
              <span
                *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'">
                {{ (articolo.prezzo * articolo.quantita) | currency: 'EUR':'symbol'}}
                <span *ngIf="articolo.prezzoScontato">
                  <b>({{(articolo.prezzoScontato * articolo.quantita) | currency: 'EUR':'symbol'}})</b>
                </span>
              </span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="tono">
            <th mat-header-cell *matHeaderCellDef>Tono</th>
            <td mat-cell *matCellDef="let articolo">
        <span
          *ngIf="(articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !perm.canEditTono) || filtro.statusOrdine === 'ARCHIVIATO'">{{articolo.tono}}</span>
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && perm.canEditTono && filtro.statusOrdine !== 'ARCHIVIATO'" type="text"
                     class="form-control input"
                     [(ngModel)]="articolo.tono" maxlength="10"/>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="qtaRiservata">
            <th mat-header-cell *matHeaderCellDef>Qtà Riserv.</th>
            <td mat-cell *matCellDef="let articolo">
              <span
                *ngIf="(articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !perm.canEditQtaRiservata) || filtro.statusOrdine === 'ARCHIVIATO'">{{articolo.qtaRiservata}}</span>
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && perm.canEditQtaRiservata && filtro.statusOrdine !== 'ARCHIVIATO'" type="number"
                     min="0" class="form-control input"
                     [(ngModel)]="articolo.qtaRiservata" (keyup)="checkFlagRiservato(articolo)"
                     (change)="checkFlagRiservato(articolo)"/>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="qtaProntoConsegna">
            <th mat-header-cell *matHeaderCellDef>Qtà Pronto Cons.</th>
            <td mat-cell *matCellDef="let articolo">
              <span
                *ngIf="(articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !perm.canEditQtaProntoConsegna) || filtro.statusOrdine === 'ARCHIVIATO'">{{articolo.qtaProntoConsegna}}</span>
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && perm.canEditQtaProntoConsegna && filtro.statusOrdine !== 'ARCHIVIATO'" type="number"
                     min="0" class="form-control input"
                     [(ngModel)]="articolo.qtaProntoConsegna" (keyup)="checkFlagProntoConsegna(articolo)"
                     (change)="checkFlagProntoConsegna(articolo)"/>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flRiservato">
            <th mat-header-cell *matHeaderCellDef>Ris.</th>
            <td mat-cell *matCellDef="let articolo">
        <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'"><mat-checkbox (change)="checkFlags(articolo, 1);checkQta(articolo)"
                                                             disabled="{{ordineDettaglio.locked || filtro.statusOrdine === 'ARCHIVIATO'}}"
                                                             [(ngModel)]="articolo.flagRiservato"
                                                             color="primary"></mat-checkbox></span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flDisponibile">
              <th mat-header-cell *matHeaderCellDef>Non Dis.</th>
              <td mat-cell *matCellDef="let articolo">
                <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'">
                  <mat-checkbox (change)="checkFlags(articolo, 2)"
                                disabled="{{!perm.canEditNonDisponibile
                                          || ordineDettaglio.locked || filtro.statusOrdine === 'ARCHIVIATO'}}"
                                [(ngModel)]="articolo.flagNonDisponibile" color="primary">
                  </mat-checkbox>
                </span>
              </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flOrdinato">
            <th mat-header-cell *matHeaderCellDef>Ord.</th>
            <td mat-cell *matCellDef="let articolo">
                <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && perm.canEditOrdinato"><mat-checkbox (change)="checkFlags(articolo, 1)"
                                                                     disabled="{{ordineDettaglio.locked || filtro.statusOrdine === 'ARCHIVIATO'}}"
                                                                     [(ngModel)]="articolo.flagOrdinato"
                                                                     color="primary"></mat-checkbox>
                </span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flProntoConsegna">
            <th mat-header-cell *matHeaderCellDef>Pronto Cons.</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='AC'">
                <mat-checkbox (change)="checkQtaProntoConsegna(articolo)" disabled="{{( !perm.canEditProntoConsegna || ordineDettaglio.locked || filtro.statusOrdine === 'ARCHIVIATO' || (articolo.tipoRigo !=='C' && articolo.flagConsegnato) )}}"
                              [(ngModel)]="articolo.flProntoConsegna" color="primary">
                </mat-checkbox>
              </span>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="flConsegnato">
            <th mat-header-cell *matHeaderCellDef>Cons.</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'">
                <mat-checkbox disabled="{{!perm.canEditConsegnato}}"
                              [(ngModel)]="articolo.flagConsegnato" color="primary">
                </mat-checkbox>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="azioni">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let articolo">
              <button *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'" (click)="showHistory(articolo)" mat-icon-button
                      matTooltip="Storia articolo">
                <mat-icon aria-hidden="false" aria-label="firma" color="primary">work_history</mat-icon>
              </button>
              <button *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'" (click)="aggiungiNote(articolo)" mat-icon-button matTooltip="Aggiungi note" >
                <mat-icon aria-hidden="false" aria-label="firma" fontIcon="speaker_notes" color="primary" [ngClass]="{'nota-presente':articolo.note}"></mat-icon>
              </button>
              <button
                *ngIf="perm.canAssociaFornitore && filtro.statusOrdine === 'DA_ORDINARE' && articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !articolo.articolo && articolo.farticolo !== '*PZ' && articolo.farticolo !== '*MQ' && articolo.farticolo !== '*ML'"
                (click)="addFornitore(articolo.farticolo)" mat-icon-button
                matTooltip="Associa fornitore">
                <mat-icon aria-hidden="false" aria-label="firma" color="primary">warning_amber</mat-icon>
              </button>
              <button  *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && articolo.annoOAF" mat-icon-button
                      matTooltip="Fornitore: {{articolo.intestazione}}. Riferimento n. {{articolo.annoOAF}}/{{articolo.serieOAF}}/{{articolo.progressivoOAF}}
                        {{articolo.dataOrdineOAF?('del ' + (articolo.dataOrdineOAF | date: 'dd/MM/yyyy' )) : ''}}
                        {{articolo.qtyuser1?('. Settimana cons.: ' + articolo.qtyuser1): ''}}
                        {{articolo.datauser1?('. Data cons.: ' + (articolo.datauser1 | date: 'dd/MM/yyyy')): ''}}
                        " #tooltip="matTooltip" (click)="tooltip.toggle()">
                <mat-icon aria-hidden="false"
                          aria-label="nota ordine fornitore"
                          color="primary">store</mat-icon>
              </button>
              <button  *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !articolo.annoOAF" mat-icon-button matToolTip="Collega OAF" (click)="collegaOAF(articolo)">
                <mat-icon aria-hidden="false"
                          aria-label="collega ordine fornitore"
                          color="primary">add_link</mat-icon>
              </button>
              <button  *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && articolo.noteOrdCli && perm.canViewNoteOAF" mat-icon-button
                      matTooltip="{{articolo.noteOrdCli}}" #tooltip="matTooltip" (click)="tooltip.toggle()">
                <mat-icon aria-hidden="false"
                          aria-label="nota ordine fornitore"
                          color="primary">info</mat-icon>
              </button>
              <button *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && articolo.flBolla" mat-icon-button aria-label="expand row" (click)="getBolle(articolo); (expandedElement = expandedElement === articolo ? null : articolo); $event.stopPropagation()">
                <mat-icon color="primary">local_shipping</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let articolo" [attr.colspan]="displayedColumns.length">
                <div  *ngFor="let bolla of bolle">
                  <div [@detailExpand]="articolo == expandedElement ? 'expanded' : 'collapsed'">
                    <mat-spinner *ngIf="loaderBolle" class="loader"></mat-spinner>
                      <div class="bolla-box"  *ngIf="!loaderBolle">
                        <div class="d-inline"><mat-icon class="icon-detail" fontIcon="local_shipping"></mat-icon></div>
                        <div class="d-inline"><b>Numero bolla:</b> {{bolla.numeroBolla}}</div>
                        <div class="d-inline"><b>Data:</b> {{bolla.dataBolla | date: 'dd/MM/yyyy' }}</div>
                        <div class="d-inline"><b>Quantità consegnata:</b> {{bolla.qta | number : '1.2-2'}}</div>
                      </div>
                  </div>
                </div>
            </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>


          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-result-list" colspan="4">Nessun
              risultato {{filtro.searchText ? "per la ricerca " + filtro.searchText : ""}}</td>
          </tr>
        </table>
        <mat-paginator aria-label="Select page of users"></mat-paginator>
      </section>
    </div>
  </div>
  <div class="row float-end">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <button mat-raised-button color="primary" [disabled]="ordineDettaglio.locked"
              *ngIf="filtro.statusOrdine !== 'ARCHIVIATO' && perm.canSalvaArticoli"
              (click)="salvaOrdine()" class="margin-top">Salva
      </button>&nbsp;&nbsp;
      <button mat-raised-button color="warn" [disabled]="ordineDettaglio.locked"
              *ngIf="filtro.statusOrdine !== 'ARCHIVIATO' && perm.canChiudiArticoli"
              (click)="chiudiOrdine()" class="margin-top margin-left">Salva e Chiudi
      </button>
      <button mat-raised-button color="warn"
              *ngIf="perm.canFirmaCliente"
              (click)="apriFirma()" class="margin-top margin-left">Firma
      </button>
    </div>
  </div>
</div>




