<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <button mat-raised-button (click)="annulla()" color="primary" matTooltip="Indietro">
        <mat-icon>arrow_back</mat-icon>Indietro
      </button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 ordine-title">
      DETTAGLIO ORDINE
      <span *ngIf="status==='DA_PROCESSARE'"> DA PROCESSARE</span>
      <span *ngIf="status==='DA_ORDINARE'"> DA ORDINARE</span>
      <span *ngIf="!status"> CONFERMATO</span>
      <span *ngIf="status==='INCOMPLETO'"> INCOMPLETO</span>
      <span *ngIf="status==='COMPLETO'"> COMPLETO</span>
      <span *ngIf="status==='ARCHIVIATO'"> ARCHIVIATO</span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <mat-card class="float-end">
        <mat-card-content>
          <span>Numero ordine: <b>{{filtroArticoli.anno}}/{{filtroArticoli.serie}}/{{filtroArticoli.progressivo}}</b><br></span>
          <span>Intestazione:<br>
            <b>{{ordineDettaglio.intestazione}} - {{ordineDettaglio.sottoConto}}</b>&nbsp;
            <button (click)="mostraAcconti(ordineDettaglio.sottoConto)" mat-icon-button
                              matTooltip="Mostra acconti">
              <mat-icon aria-hidden="false" aria-label="mostra acconti" color="primary">receipt_long</mat-icon>
            </button>
          </span>
          <br>
          <span>Tel: <b>{{ordineDettaglio.telefono}}</b></span>
          <br>
          <span>Totale: <b>{{ordineDettaglio.totale | currency: 'EUR':'symbol'}}</b></span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row margin-top" *ngIf="showAcconti">
    <div class="col-lg-6 col-md-6 col-sm-12"></div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <section class="example-container mat-elevation-z8" tabindex="0">
        <mat-spinner *ngIf="loaderAcconti" class="loader"></mat-spinner>
        <table class="table-container" *ngIf="!loaderAcconti" mat-table multiTemplateDataRows [dataSource]="acconti">
          <!-- Name Column -->
          <ng-container matColumnDef="dataFattura">
            <th mat-header-cell *matHeaderCellDef>Data Fattura</th>
            <td mat-cell *matCellDef="let fattura">
              <span >{{fattura.dataFattura | date:'dd/MM/yyyy'}}</span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="numeroFattura">
            <th mat-header-cell *matHeaderCellDef>Numero Fattura</th>
            <td mat-cell *matCellDef="let fattura">
              {{fattura.numeroFattura}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="rifOrdCliente">
            <th mat-header-cell *matHeaderCellDef>Rif. Ord. Cliente</th>
            <td mat-cell *matCellDef="let fattura">{{fattura.rifOrdCliente}}</td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="operazione">
            <th mat-header-cell *matHeaderCellDef>Movimento</th>
            <td mat-cell *matCellDef="let fattura">{{fattura.operazione}}</td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="prezzo">
            <th mat-header-cell *matHeaderCellDef> Prezzo</th>
            <td mat-cell *matCellDef="let fattura">
              {{fattura.prezzo | currency: 'EUR':'symbol'}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnAcconti"></tr>
          <tr mat-row *matRowDef="let row; columns: columnAcconti;"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-result-list" colspan="4">Nessun acconto trovato per questo cliente</td>
          </tr>
        </table>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Cerca..." #input>
      </mat-form-field>
    </div>
  </div>
  <div class="row margin-bottom" >
    <div *ngIf="isAmministrativo && status === 'DA_ORDINARE'" class="col-lg-4 col-md-6 col-sm-12">
      <mat-radio-group
        (change)="getArticoliByOrdineId()"
        aria-label="Select an option" [(ngModel)]="filtroArticoli.flNonDisponibile">
        <mat-radio-button *ngFor="let option of radioOptions" [checked]="option.checked"
                          [value]="option.checked">{{option.name}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="status !== 'ARCHIVIATO' && (!isAmministrativo && (status !== 'DA_PROCESSARE' || isLogistica))" class="col-lg-8 col-md-12 col-sm-12">
      <mat-radio-group (change)="getArticoliByOrdineId()"
                       aria-label="Select an option" [(ngModel)]="filtroArticoli.flConsegna">
        <mat-radio-button *ngFor="let option of radioConsegnatoOptions" [checked]="option.checked"
                          [value]="option.value">{{option.name}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="isAmministrativo && status === 'DA_ORDINARE' && !codifica" class="col-lg-8 col-md-6 col-sm-12">
      <button mat-raised-button color="primary" (click)="creaOrdineForn()" class="float-end">
        Crea Ordine a fornitori
      </button>
    </div>
    <div *ngIf="isAmministrativo && status === 'DA_ORDINARE' && codifica" class="col-lg-8 col-md-6 col-sm-12">
      <button mat-raised-button color="primary" (click)="codificaArticoli()" class="float-end">
        Codifica articoli
      </button>
    </div>
    <!--<div *ngIf="isMagazziniere && status === 'INCOMPLETO'" class="col-lg-4 col-md-6 col-sm-12">
      <mat-radio-group
        (change)="getArticoliByOrdineId()"
        aria-label="Select an option" [(ngModel)]="filtroArticoli.flDaRiservare">
        <mat-radio-button *ngFor="let option of radioDaRiservareOptions" [checked]="option.checked"
                          [value]="option.checked">{{option.name}} {{option.checked}}</mat-radio-button>
      </mat-radio-group>
    </div>-->
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <section class="example-container mat-elevation-z8" tabindex="0">
        <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
        <table class="table-container" *ngIf="!loader" mat-table multiTemplateDataRows [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="codice">
            <th mat-header-cell *matHeaderCellDef>Codice</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'">{{articolo.farticolo}}</span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="descrizione">
            <th mat-header-cell *matHeaderCellDef>Descrizione</th>
            <td mat-cell *matCellDef="let articolo">
              <span
                *ngIf="(articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !isAmministrativo) || status !== 'DA_ORDINARE'">
                {{articolo.fdescrArticolo}}<br><b>{{articolo.codArtFornitore}}</b>
              </span>
                <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && isAmministrativo && status === 'DA_ORDINARE'" type="text" class="form-control"
                     [(ngModel)]="articolo.fdescrArticolo" />
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && isAmministrativo && status === 'DA_ORDINARE'" type="text" class="form-control"
                     [(ngModel)]="articolo.codArtFornitore" />
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="quantita">
            <th mat-header-cell *matHeaderCellDef>Qtà<br>(da conseg.)</th>
            <td mat-cell *matCellDef="let articolo">
              <span
                *ngIf="(articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !isMagazziniere) || status === 'ARCHIVIATO'">{{articolo.quantita}}</span>
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && isMagazziniere && status !== 'ARCHIVIATO'" type="number"
                     min="0" class="form-control input"
                     [(ngModel)]="articolo.quantita"/>
              &nbsp;{{articolo.funitaMisura}}
              <span *ngIf="articolo.flBolla">&nbsp;({{articolo.qtaDaConsegnare | number : '1.2-2'}})</span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="qtaConsegnatoSenzaBolla">
            <th mat-header-cell *matHeaderCellDef> Qtà senza bolla</th>
            <td mat-cell *matCellDef="let articolo">
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && isAdmin" type="number"
                     min="0" class="form-control input"
                     [(ngModel)]="articolo.qtaConsegnatoSenzaBolla"/>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="prezzo">
            <th mat-header-cell *matHeaderCellDef>Prezzo Unit</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'">{{articolo.prezzo | currency: 'EUR':'symbol'}}</span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="prezzoTot">
            <th mat-header-cell *matHeaderCellDef>Prezzo Tot</th>
            <td mat-cell *matCellDef="let articolo">
              <span
                *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'">{{ (articolo.prezzo * articolo.quantita) | currency: 'EUR':'symbol'}}</span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="tono">
            <th mat-header-cell *matHeaderCellDef>Tono</th>
            <td mat-cell *matCellDef="let articolo">
        <span
          *ngIf="(articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !isMagazziniere) || status === 'ARCHIVIATO'">{{articolo.tono}}</span>
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && isMagazziniere && status !== 'ARCHIVIATO'" type="text"
                     class="form-control input"
                     [(ngModel)]="articolo.tono"/>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="qtaRiservata">
            <th mat-header-cell *matHeaderCellDef>Qtà Riserv.</th>
            <td mat-cell *matCellDef="let articolo">
              <span
                *ngIf="(articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !isMagazziniere) || status === 'ARCHIVIATO'">{{articolo.qtaRiservata}}</span>
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && isMagazziniere && status !== 'ARCHIVIATO'" type="number"
                     min="0" class="form-control input"
                     [(ngModel)]="articolo.qtaRiservata" (keyup)="checkFlagRiservato(articolo)"
                     (change)="checkFlagRiservato(articolo)"/>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="qtaProntoConsegna">
            <th mat-header-cell *matHeaderCellDef>Qtà Pronto Cons.</th>
            <td mat-cell *matCellDef="let articolo">
              <span
                *ngIf="(articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !isMagazziniere) || status === 'ARCHIVIATO'">{{articolo.qtaProntoConsegna}}</span>
              <input *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && isMagazziniere && status !== 'ARCHIVIATO'" type="number"
                     min="0" class="form-control input"
                     [(ngModel)]="articolo.qtaProntoConsegna" (keyup)="checkFlagProntoConsegna(articolo)"
                     (change)="checkFlagProntoConsegna(articolo)"/>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flRiservato">
            <th mat-header-cell *matHeaderCellDef>Ris.</th>
            <td mat-cell *matCellDef="let articolo">
        <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'"><mat-checkbox (change)="checkFlags(articolo, 1);checkQta(articolo)"
                                                             disabled="{{(!isMagazziniere || (status !== 'DA_PROCESSARE' && status !== 'INCOMPLETO') )
                                                             || ordineDettaglio.locked || status === 'ARCHIVIATO'}}"
                                                             [(ngModel)]="articolo.flagRiservato"
                                                             color="primary"></mat-checkbox></span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flDisponibile">
            <th mat-header-cell *matHeaderCellDef>Non Dis.</th>
            <td mat-cell *matCellDef="let articolo">
        <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'"><mat-checkbox (change)="checkFlags(articolo, 2)"
                                                             disabled="{{(!isMagazziniere || status !== 'DA_PROCESSARE')
|| ordineDettaglio.locked || status === 'ARCHIVIATO'}}"
                                                             [(ngModel)]="articolo.flagNonDisponibile"
                                                             color="primary"></mat-checkbox></span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flOrdinato">
            <th mat-header-cell *matHeaderCellDef>Ord.</th>
            <td mat-cell *matCellDef="let articolo">
        <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'"><mat-checkbox (change)="checkFlags(articolo, 1)"
                                                             disabled="{{(!isAmministrativo || status !== 'DA_ORDINARE') || ordineDettaglio.locked || status === 'ARCHIVIATO'}}"
                                                             [(ngModel)]="articolo.flagOrdinato"
                                                             color="primary"></mat-checkbox></span>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flProntoConsegna">
            <th mat-header-cell *matHeaderCellDef>Pronto Cons.</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'">
                <mat-checkbox (change)="checkQtaProntoConsegna(articolo)" disabled="{{(!isMagazziniere || ordineDettaglio.locked || status === 'ARCHIVIATO')}}"
                              [(ngModel)]="articolo.flProntoConsegna" color="primary">
                </mat-checkbox>
              </span>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="flConsegnato">
            <th mat-header-cell *matHeaderCellDef>Cons.</th>
            <td mat-cell *matCellDef="let articolo">
              <span *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'">
                <mat-checkbox disabled="{{!isAdmin}}"
                              [(ngModel)]="articolo.flagConsegnato" color="primary">
                </mat-checkbox>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="azioni">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let articolo">
              <button *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'" (click)="showHistory(articolo)" mat-icon-button
                      matTooltip="Storia articolo">
                <mat-icon aria-hidden="false" aria-label="firma" color="primary">work_history</mat-icon>
              </button>
              <button *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC'" (click)="aggiungiNote(articolo)" mat-icon-button matTooltip="Aggiungi note" >
                <mat-icon aria-hidden="false" aria-label="firma" fontIcon="speaker_notes" color="primary" [ngClass]="{'nota-presente':articolo.note}"></mat-icon>
              </button>
              <button
                *ngIf="isAmministrativo && status === 'DA_ORDINARE' && articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && !articolo.articolo && articolo.farticolo !== '*PZ' && articolo.farticolo !== '*MQ'"
                (click)="addFornitore(articolo.farticolo)" mat-icon-button
                matTooltip="Associa fornitore">
                <mat-icon aria-hidden="false" aria-label="firma" color="primary">warning_amber</mat-icon>
              </button>
              <button  *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && articolo.annoOAF" mat-icon-button
                      matTooltip="Fornitore: {{articolo.intestazione}}. Riferimento n. {{articolo.annoOAF}}/{{articolo.serieOAF}}/{{articolo.progressivoOAF}}
                        {{articolo.dataOrdineOAF?('del ' + (articolo.dataOrdineOAF | date: 'dd/MM/yyyy' )): ''}}" #tooltip="matTooltip" (click)="tooltip.toggle()">
                <mat-icon aria-hidden="false"
                          aria-label="nota ordine fornitore"
                          color="primary">store</mat-icon>
              </button>
              <button  *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && articolo.noteOrdCli && (isAdmin || isAmministrativo || isVenditore)" mat-icon-button
                      matTooltip="{{articolo.noteOrdCli}}" #tooltip="matTooltip" (click)="tooltip.toggle()">
                <mat-icon aria-hidden="false"
                          aria-label="nota ordine fornitore"
                          color="primary">info</mat-icon>
              </button>
              <button *ngIf="articolo.tipoRigo !=='C' && articolo.tipoRigo !=='AC' && articolo.flBolla" mat-icon-button aria-label="expand row" (click)="getBolle(articolo.progrGenerale); (expandedElement = expandedElement === articolo ? null : articolo); $event.stopPropagation()">
                <mat-icon color="primary">local_shipping</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let articolo" [attr.colspan]="displayedColumns.length">
              <mat-spinner *ngIf="loaderBolle" class="loader"></mat-spinner>
              <div *ngIf="!loaderBolle">
                <div  *ngFor="let bolla of bolle">
                  <div [@detailExpand]="articolo == expandedElement ? 'expanded' : 'collapsed'">
                      <div class="bolla-box">
                        <div class="d-inline"><mat-icon class="icon-detail" fontIcon="local_shipping"></mat-icon></div>
                        <div class="d-inline"><b>Numero bolla:</b> {{bolla.numeroBolla}}</div>
                        <div class="d-inline"><b>Data:</b> {{bolla.dataBolla | date: 'dd/MM/yyyy' }}</div>
                        <div class="d-inline"><b>Quantità consegnata:</b> {{bolla.qta | number : '1.2-2'}}</div>
                      </div>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-result-list" colspan="4">Nessun
              risultato {{input.value ? "per la ricerca " + input.value : ""}}</td>
          </tr>
        </table>
        <mat-paginator aria-label="Select page of users"></mat-paginator>
      </section>
    </div>
  </div>
  <div class="row float-end">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <button mat-raised-button color="primary" [disabled]="ordineDettaglio.locked"
              *ngIf="status !== 'ARCHIVIATO' && ( isAdmin || (isAmministrativo && status === 'DA_ORDINARE') ||
                      (isMagazziniere && ( status === 'DA_PROCESSARE' || status === 'INCOMPLETO' || status === 'DA_ORDINARE' || status==='COMPLETO')))"
              (click)="salvaOrdine()" class="margin-top">Salva
      </button>&nbsp;&nbsp;
      <button mat-raised-button color="warn" [disabled]="ordineDettaglio.locked || checkRiservati()"
              *ngIf="status !== 'ARCHIVIATO' && ( isAdmin || (isAmministrativo  && status === 'DA_ORDINARE') ||
                     (isMagazziniere  && ( status === 'DA_PROCESSARE' || status === 'INCOMPLETO')))"
              (click)="chiudiOrdine()" class="margin-top margin-left">Salva e Chiudi
      </button>
      <button mat-raised-button color="warn"
              *ngIf=" (isVenditore || isAdmin ) && !status"
              (click)="apriFirma()" class="margin-top margin-left">Firma
      </button>
    </div>
  </div>
</div>




