<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Gestione ordini</span>
    <span class="example-spacer"></span>
    <mat-icon *ngIf="isAdmin" [matMenuTriggerFor]="menu" class="pointer example-icon" aria-hidden="false" aria-label="Example user verified icon"
              matTooltip="{{username}}">admin_panel_settings
    </mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="pointer" [routerLink]="['/users']">
        <mat-icon>person</mat-icon>
        <span>Gestisci dipendenti</span>
      </button>
      <button mat-menu-item class="pointer" [routerLink]="['/role']">
        <mat-icon>manage_accounts</mat-icon>
        <span>Gestisci ruoli</span>
      </button>
    </mat-menu>
    <mat-icon *ngIf="isMagazziniere" class="example-icon" aria-hidden="false" aria-label="Example user verified icon"
              matTooltip="{{username}}">warehouse
    </mat-icon>
    <mat-icon *ngIf="isVenditore" class="example-icon" aria-hidden="false" aria-label="Example user verified icon"
              matTooltip="{{username}}">monetization_on
    </mat-icon>
    <mat-icon *ngIf="isAmministrativo" class="example-icon" aria-hidden="false" aria-label="Example user verified icon"
              matTooltip="{{username}}">fax
    </mat-icon>
    <mat-icon *ngIf="isLogistica" class="example-icon" aria-hidden="false" aria-label="Example user verified icon"
              matTooltip="{{username}}">local_shipping
    </mat-icon>
    <mat-icon class="example-icon pointer" aria-hidden="false" aria-label="Example user verified icon" matTooltip="Esci"
              (click)="logout()">logout
    </mat-icon>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="clienti">Ordine Clienti</button>
    <mat-menu #clienti="matMenu">
      <button mat-menu-item class="pointer" [routerLink]="['/ordini-clienti']">Tutti</button>
      <button mat-menu-item *ngIf="!isAmministrativo && !isLogistica" class="pointer" [routerLink]="['/ordini-clienti', 'DA_PROCESSARE']">Da processare</button>
      <button mat-menu-item class="pointer" [routerLink]="['/ordini-clienti', 'DA_ORDINARE']">Da ordinare</button>
      <button mat-menu-item class="pointer" [routerLink]="['/ordini-clienti', 'INCOMPLETO']">Incompleti</button>
      <button mat-menu-item class="pointer" [routerLink]="['/ordini-clienti', 'COMPLETO']">Completi</button>
      <button mat-menu-item class="pointer" [routerLink]="['/ordini-clienti', 'ARCHIVIATO']">Archiviato</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="fornitori">Ordine Fornitori</button>
    <mat-menu #fornitori="matMenu">
      <button mat-menu-item class="pointer" [routerLink]="['/ordini-fornitore', 'DA_APPROVARE']">Da approvare</button>
      <button mat-menu-item class="pointer" [routerLink]="['/ordini-fornitore', 'APPROVATO']">Approvati</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
