<mat-toolbar color="primary">

  <!-- RIGA SUPERIORE -->
  <mat-toolbar-row>
    <span>Gestione Ordini</span>
    <span class="spacer"></span>

    <mat-icon class="pointer" matTooltip="Logout" (click)="logout()">
      logout
    </mat-icon>
  </mat-toolbar-row>

  <!-- RIGA MENU -->
  <mat-toolbar-row>

    <ng-container *ngFor="let item of menu; let i = index">

      <!-- 🔹 VOCE SINGOLA -->
      <button
        mat-button
        *ngIf="!item.children && hasPerm(item)"
        [routerLink]="item.route">
        {{ item.label }}
      </button>

      <!-- 🔹 VOCE CON SOTTO MENU -->
      <button
        mat-button
        *ngIf="item.children && hasPerm(item)"
        [matMenuTriggerFor]="menuRefs[i]">
        {{ item.label }}
      </button>

      <!-- 🔹 MENU (ASSOCIATO CON ViewChildren) -->
      <mat-menu #menuRef="matMenu">
        <ng-container *ngFor="let child of item.children">
          <button
            mat-menu-item
            *ngIf="hasPerm(child)"
            [routerLink]="child.route">
            {{ child.label }}
          </button>
        </ng-container>
      </mat-menu>

    </ng-container>

  </mat-toolbar-row>

</mat-toolbar>
