<div class="container">
  <div class="row">
    <div class="col-md-12  ordine-title">
      ORDINI A FORNITORE
      <span *ngIf="!status"> APPROVATI</span>
      <span *ngIf="status==='F'">SOSPESI </span>
      <span *ngIf="status==='T'"> DA APPROVARE</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <mat-form-field>
        <mat-label>Cerca...</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <button class="float-end" (click)="refreshPage()" mat-raised-button color="primary" aria-label="ordine">
        Aggiorna lista
      </button>&nbsp;&nbsp;
    </div>
  </div>
  <div class="row margin-bottom">
    <div class="col-lg-6 col-md-6 col-sm-6"></div>
    <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="isAmministrativo && status==='F'">
      <button class="float-end" (click)="unisciOrdini()" mat-raised-button color="primary" aria-label="ordine">
        Unisci ordini
      </button>&nbsp;&nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="mat-elevation-z8">
        <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
        <mat-paginator aria-label="Select page of ordini clienti"></mat-paginator>

        <table class="table-container" *ngIf="!loader" mat-table [dataSource]="dataSource">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox color="primary" *ngIf="isAmministrativo && status==='F'"
                            (click)="$event.stopPropagation();"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Numero Ordine</th>
            <td mat-cell *matCellDef="let ordine">
              {{ordine.anno}}/{{ordine.serie}}/{{ordine.progressivo}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="fornitore">
            <th mat-header-cell *matHeaderCellDef> Fornitore</th>
            <td mat-cell *matCellDef="let ordine">
              {{ordine.intestazione}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data</th>
            <td mat-cell *matCellDef="let ordine">
              {{ordine.dataOrdine | date:'dd/MM/yyyy'}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="dataModifica">
            <th mat-header-cell *matHeaderCellDef> Dt modifica</th>
            <td mat-cell *matCellDef="let ordine">
              {{ordine.updateDate | date:'dd/MM/yyyy'}}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="flInviato">
            <th mat-header-cell *matHeaderCellDef>Inviato</th>
            <td mat-cell *matCellDef="let ordine">
              <span *ngIf="!status">
                <mat-checkbox disabled="{{(!isAmministrativo && !isAdmin )}}"
                              [(ngModel)]="ordine.flInviato" color="primary">
                </mat-checkbox>
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="azioni">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let ordine">
              <button (click)="apriDettaglio(ordine)" mat-icon-button matTooltip="Vai a dettaglio ordine">
                <mat-icon aria-hidden="false" aria-label="dettaglio" fontIcon="build" color="primary"></mat-icon>
              </button>
              <button *ngIf="(isAmministrativo || isAdmin) && status !== 'F'" (click)="apri(ordine)" mat-icon-button
                      matTooltip="Apri ordine">
                <mat-icon aria-hidden="false" aria-label="firma" fontIcon="restore" color="primary"></mat-icon>
              </button>
              <button *ngIf="(isAmministrativo || isAdmin)" (click)="elimina(ordine)" mat-icon-button
                      matTooltip="Cancella ordine">
                <mat-icon aria-hidden="false" aria-label="firma" fontIcon="clear" color="primary"></mat-icon>
              </button>
              <button (click)="aggiungiNote(ordine)" mat-icon-button matTooltip="Aggiungi note">
                <mat-icon aria-hidden="false" aria-label="firma" fontIcon="speaker_notes" color="primary" [ngClass]="{'nota-presente':ordine.note}"></mat-icon>
              </button>
              <button (click)="downloadOrdine(ordine)" mat-icon-button matTooltip="Scarica file" *ngIf="status!=='F'">
                <mat-icon aria-hidden="false" aria-label="download" fontIcon="file_download" color="primary"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-result-list" colspan="4">Nessun risultato {{input.value ? "per la ricerca " + input.value : ""}}</td>
          </tr>
        </table>

<!--        <mat-paginator aria-label="Select page of ordini clienti"></mat-paginator>-->
      </div>
    </div>
  </div>
  <div class="row float-end">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <button mat-raised-button color="primary"
              *ngIf="isAdmin || (isAmministrativo && !status)"
              (click)="updateOaf()" class="margin-top">Salva
      </button>&nbsp;&nbsp;
    </div>
  </div>
</div>



