<form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
  <h1 mat-dialog-title>Inserisci indirizzo mail del cliente</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Indirizzo mail</mat-label>
      <input type="email" name="email" matInput formControlName="to" email>
    </mat-form-field>
    <div class="padding-centrato" *ngIf="form.controls['to'].invalid && (form.controls['to'].dirty || form.controls['to'].touched)">
      <div *ngIf="form.controls['to'] && form.controls['to'].errors && form.controls['to'].errors['required']">
        <span class="error-msg">Email obbligatoria</span>
      </div>
      <div *ngIf="form.controls['to'] && form.controls['to'].errors && form.controls['to'].errors['email']">
        <span class="error-msg">Email non valida</span>
      </div>
    </div>
  </div>
  <div class="aggiorna-mail">
    <mat-label>Aggiorna mail</mat-label>
    <mat-checkbox [(ngModel)]="update" color="primary"></mat-checkbox>
  </div>
  <div mat-dialog-actions style="padding: 0 16px;" align="center">
    <button mat-raised-button color="secondary" mat-dialog-close>Annulla</button>
    <button mat-raised-button color="primary" type="submit">Invia</button>
  </div>
</form>


